[2022-03-23 03:06] tkstanczak commented on #3898
@aliveli186 was it meant to be on the Nethermind repo?

[2022-03-23 08:01] nicexe commented on #3896
I forgot to mention the VM orientation shown in my screenshots:

|     archive    |   validator1   |   validator2   |
|:--------------:|:--------------:|:--------------:|
| **validator3** | **validator4** | **validator5** |

[2022-03-23 10:10] aliveli186 commented on #3898
Oops my mistake, mixed up the repos. Was late night, just before sleep :)
Can an admin delete the question totally, please.

[2022-03-23 10:30] #3898 closed

[2022-03-24 10:53] varasev commented on #3896
@nicexe Did you try that with v1.12.3?

[2022-03-24 14:48] nicexe commented on #3896
@varasev 1.12.3 definitely helped

system load
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/867535/159941712-f78d57f9-139c-4d54-88d2-4304271ea292.png">

ethstats
![image](https://user-images.githubusercontent.com/867535/159942782-ced69191-f9aa-4ca8-9195-ebf8545ca4dc.png)

I restored the archive node and validators from 1 to 4 and configured them to use 1.12.6. I rem

[2022-03-24 21:52] LukaszRozmej commented on #3896
Hi @nicexe looking into your issue, if 1.12.3 solves it then there is slight chance that the actual reason is  different and related to: https://github.com/NethermindEth/nethermind/pull/3901

[2022-03-25 09:18] xas commented on #1188
To put the client id to the end for better read, I'm not sure there are better way than rewriting `AddPeerInfo`

[code]

[2022-03-25 09:56] xas commented on #1188
@tkstanczak if this is ok for you, I can create the PR :

[code]

But I don't know if `SyncPeerProtocolHandlerBase.ToString()` is used elsewhere (as you lose the `ClientId` info)

[2022-03-25 11:36] LukaszRozmej commented on #3892
Closing for now. Request is out-of-spec and is equivalent with a lot simpler one, making it unnecessary. @DaveWK feel free to reopen if you think otherwise.

[2022-03-25 11:36] #3892 closed

[2022-03-25 11:37] LukaszRozmej commented on #3890
@FinaChain can you please provide a reproduceable scenario?

[2022-03-27 06:50] varasev commented on #3896
@nicexe Can you try to run the setup using the `nethermindeth/nethermind:local_txs_broadcasting` docker image? It is the build from https://github.com/NethermindEth/nethermind/pull/3901

[2022-03-27 19:18] skylarweaver commented on #3745
@matilote I have followed the above steps, yet I still get the `RocksDb was not found` error:

`2022-03-27 14:13:17.5506|RocksDb was not found, please make sure it is installed on your machine.
 On macOs : 'brew install rocksdb' System.TypeInitializationException: The type initializer for 'RocksDbSharp.Native' threw an exception.
 ---> NativeImport.NativeLoadException: Unable to locate rocksdb nat

[2022-03-28 10:54] LukaszRozmej commented on #3896
Also pushed #3906

[2022-03-29 08:28] varasev commented on #3896
@LukaszRozmej Can you please make a docker image for this?

[2022-03-30 07:14] #2484 closed

[2022-03-30 07:57] LukaszRozmej commented on #3896
@nicexe I fail to actually reproduce this:
![image](https://user-images.githubusercontent.com/12445221/160777268-4dd309d9-d1da-4f99-9eb8-0953c20091e4.png)
![image](https://user-images.githubusercontent.com/12445221/160777370-5c922228-e89e-4b47-b540-3f6be39d2749.png)

Would you be able to provide a performance trace from one of the misbehaving nodes? I am inquiring our devops on how to do that on n

[2022-03-30 14:50] #3034 closed

[2022-03-31 09:19] LukaszRozmej commented on #3896
@nicexe can you help us gather data here?

1. Please use image [nethermindeth/nethermind:test](https://hub.docker.com/layers/nethermind/nethermindeth/nethermind/test/images/sha256-fa30adf07a853a8e88068a2100c199439a913bfa61e1a345a63921af295ca5e5?context=explore)
2. After running it on one or multiple misbehaving nodes please do:
`sudo docker exec -it  xdaitestnet-validatorX /bin/bash
mkdir dumps
/o

[2022-03-31 15:44] #3745 closed

[2022-04-01 11:44] #1188 closed

[2022-04-01 12:30] LukaszRozmej commented on #3745
@skylarweaver we added an installation step to fix it. We are using 3rd party library and Apple changed paths for M1, we will look into removing it in the future, but for now it should be fine.

[2022-04-01 12:30] LukaszRozmej opened #3922 "Make libsnappy work on M1 without symlink"
Related to #3745

[2022-04-01 17:58] cryptoeth1 opened #3923 "Impossible to push a transaction"
Hello, I'm running a node on Nethermind 1.12.0
Network: xDai, Fast sync, RPC enabled, Ubuntu 18
I connected with metamask (http:127.0.0.1:8545) to my node and tried to send xDai

I constantly get the following error when trying to send:

2022-04-01 20:03:04.5539|Error when handling ID 1092445199633, eth_sendRawTransaction(XXX) | {"jsonrpc":"2.0","error":{"code":-32010,"message":"Filtered"},"id":10

[2022-04-01 18:01] tkstanczak commented on #3923
Thank you, received, the team will triage on Monday.
In the meantime could you change 0x5 in your parameters to 5 in the eth_feeHistory call?

[2022-04-01 18:05] cryptoeth1 commented on #3923
How to change 0x5 in your parameters to 5 in the eth_feeHistory call? This is generated by metamask

[2022-04-01 19:43] LukaszRozmej commented on #3923
This was fixed in 1.12.2. #3670 #3639

[2022-04-01 19:43] #3923 closed

[2022-04-02 04:12] cryptoeth1 opened #3925 "eth_sendRawTransaction returns Filtered on xDai/Gnosis chain"
I'm trying to send coins on xDai network and get an error:

2022-04-02 07:07:29.8161|Error when handling ID 1966461795481, eth_sendRawTransaction(XXX) | {"jsonrpc":"2.0","error":{"code":-32010,"message":"PermissionDenied, permission denied for tx type: Basic, actual permissions: None"},"id":1966461795481}

I use nethermind 1.12.2, xDai network, Ubuntu 18, metamask wallet
Can you check why this err

[2022-04-02 04:14] tkstanczak commented on #3925
@LukaszRozmej ?

[2022-04-05 15:18] LukaszRozmej commented on #3925
@cryptoeth1 Could you disclose details about the transaction, so we can cross-check if its intended behavior?

We would need: SenderAddres, ReceipientAddress, Value, MaxFeePerGas, MaxPriorityFeePerGas, GasLimit and transaction Data (as hex).

[2022-04-06 10:48] MarekM25 opened #3937 "Corruption after forced kill during state sync"
Nodes were syncing - state sync.

2022-04-06 10:18:35.6480|Sync mode update failed RocksDbSharp.RocksDbException: Corruption: bad entry in block
   at RocksDbSharp.Native.rocksdb_get(IntPtr db, IntPtr read_options, Byte[] key, Int64 keyLength, ColumnFamilyHandle cf) in /src/rocksdb-sharp/RocksDbSharp/Native.Wrap.cs:line 109
   at Nethermind.Db.FullPruning.FullPruningDb.get_Item(Byte[] key) in /src

[2022-04-06 10:49] LukaszRozmej opened #3938 "Try recover rocksdb on corruption"
We can try what OE does: https://github.com/openethereum/parity-ethereum/pull/7630

[2022-04-06 12:57] yorickdowne opened #3939 "Merge: Feature: Selective jwt authentication"
**Is your feature request related to a problem? Please describe.**

On Kiln testnet, CL clients typically connect to JSON-RPC via 8545/8546 for web3,net,eth; and 8551 for engine. Engine API needs to be JWT authenticated. With `--JsonRpc.JwtSecretFile=/var/lib/nethermind/jwtsecret` and `--JsonRpc.AdditionalRpcUrls=http://0.0.0.0:8551|http;wss|engine;eth;net;web3;subscribe`, 8545/8546 end up authent

[2022-04-06 12:59] yorickdowne opened #3940 "Merge: Bug: Unable to filter engine RPC logging"
**Describe the bug**

Despite `--JsonRpc.MethodsLoggingFiltering={"engine_forkchoiceUpdatedV1","engine_newPayloadV1"}`, these calls continue to be logged together with their payload.

This is configured according to the help text: `--JsonRpc.MethodsLoggingFiltering                            Defines method names of Json RPC service requests to NOT log. Example: {"eth_blockNumber"} will not log "et

[2022-04-06 13:04] yorickdowne opened #3941 "Merge: Bug: JSON RPC log parameter character restriction is ignored"
**Describe the bug**

Despite `--JsonRpc.MaxLoggedRequestParametersCharacters=20`, engine API calls are logged in full, e.g.

[code]

Engine RPC calls are via 8551, configured as `--JsonRpc.AdditionalRpcUrls=http://0.0.0.0:8551|http;wss|engine;eth;net;web3;subscribe`

[2022-04-06 13:49] LukaszRozmej commented on #3937
Duplicate of #3938

[2022-04-06 13:49] #3937 closed

[2022-04-06 16:41] z3n-chada opened #3942 "Merge: Cascading Module Initialization Failures due to CLI args."
**Describe the bug**
Cascading module initialization failures caused by incorrectly formatted TTD override. PeerManager fails to initialize and as a result JSON RPC will report: Error {method} not implemented for any admin JSON RPC method. To add to the confusion docs are not up to date. Some docs still point to admin_nodeInfo not being implemented (https://github.com/NethermindEth/nethermind/blob

[2022-04-06 18:34] yorickdowne commented on #3939
I think this can be closed. I had `engine` specified for the main RPC/WS. Removing that fixed it.

[2022-04-06 18:34] #3939 closed

[2022-04-07 22:20] Hrugved commented on #3940
@yorickdowne which branch is this issue related to?

[2022-04-08 13:16] MarekM25 commented on #3940
@yorickdowne On the kiln branch, we have more extensive logging. It is/was useful for us during the testing. If you want to reduce logging, these settings could be ignored. You can modify NLog set to Trace for JSON.RPC. You can change NLog.config from Kiln -> https://github.com/NethermindEth/nethermind/blob/kiln/src/Nethermind/Nethermind.Runner/NLog.config to master -> https://github.com/Nethermin

[2022-04-08 13:18] MarekM25 commented on #3941
The same situation as here: https://github.com/NethermindEth/nethermind/issues/3940

[2022-04-08 13:19] MarekM25 commented on #3941
I'm closing it now, but if you have any more problems feel free to reopen/ask questions :)

[2022-04-08 13:19] #3941 closed

[2022-04-08 13:19] MarekM25 commented on #3940
I'm closing it now, but if you have any more problems feel free to reopen/ask questions :)

[2022-04-08 13:19] #3940 closed

[2022-04-08 13:22] MarekM25 commented on #3942
@z3n-chada thx for #TestingTheMerge. Good catch

We will consider our approach here. However, we need to do other things for TheMerge. I am marking it as a lower priority for now :)

[2022-04-09 12:42] NoahStahl opened #3949 "Partial offline mode after restart and RocksDbException"
After running nethermind successfully for a couple months with no issues, I did a graceful restart for maintenance last week and upon starting again, have seen this logged every second for the past week straight:

`Syncing previously downloaded blocks from DB (partial offline mode until it finishes)`

I've restarted nethermind multiple times, same behavior. Some errors are logged suggesting DB cor

[2022-04-11 09:11] LukaszRozmej commented on #3601
If System.Text.Json is used, this will be helpfull: https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-6-0

[2022-04-11 13:11] LukaszRozmej commented on #3472
Nodes syncs fine on our VM's. Currently high IOPS storage is needed, will be better when #2617 #3840  is delivered

[2022-04-11 13:11] #3472 closed

[2022-04-13 23:48] LukaszRozmej commented on #2605
Closing old issue, pruning is there. We are also moving to work on different state implementation.

[2022-04-13 23:48] #2605 closed

[2022-04-14 10:43] dceleda opened #3958 "Error when state stats collector is ON"
**Describe the bug**
After setting up a new node on MAINNET and syncing it via Snap Sync there are two issues when we try to run the State Stats Collector:
- it reports some storage nodes missing after a few hours of running
_Collected info from 700000943 nodes. Missing CODE 0 STATE 0 STORAGE 199_
- at some point the client shuts down (memory leak ?)

Config:
_{
  "Init": {
    "ChainSpecPath": "c

[2022-04-19 10:59] LukaszRozmej opened #3965 "Dotnetty or FileWatcher eating 100% of one CPU core."
At some point in time dotnetty or file watcher thread  can use up one core (Probably dotnetty). Performance  profiling session: https://drive.google.com/file/d/194GHNKU1Iyr22CY_qB-6opb1db7L7a76/view?usp=sharing

DotNetty misbehaving (having issues allocating in PoolArena?)
![image](https://user-images.githubusercontent.com/12445221/163987731-5cf4031b-e58e-4c15-908d-76ae0ee39eff.png)

Potentially F

[2022-04-19 12:46] cnupy commented on #3965
Probably related https://github.com/Azure/DotNetty/issues/543

[2022-04-20 10:28] varasev opened #3971 "Proposal to add an ability to disable some JSON RPC API methods"
(we have the same proposal for OpenEthereum: https://github.com/openethereum/openethereum/issues/647)

In some cases we may need to close some API methods leaving others available. For example, for enabled `eth` namespace we could disable `eth_accounts`.

I'd propose to add

[code]

to the set of config options for [JsonRpc module](https://docs.nethermind.io/nethermind/ethereum-client/configuratio

[2022-04-20 17:10] tkstanczak opened #3972 "Rpc_modules not supported for geth attach command"
**Describe the bug**
Contact @ethdreamer for more details (Lighthouse team)

**To Reproduce**
Geth attach on Nethermind

**Expected behavior**
Would work

[2022-04-21 00:14] #3839 closed

[2022-04-21 00:32] LukaszRozmej opened #3974 "UDP payloads too big?"
From: https://discord.com/channels/629004402170134531/629004402170134537/965954507483779172

"When troubleshooting internet connectivity issues I noticed my nethermind instances (mainnet & goerli) sometimes send UDP payloads which need to be fragmented.
This is an issue for my shitty Cable bridge (don't ask), but also in general appears to be something which is best avoided. Is this intended to ha

[2022-04-21 00:38] LukaszRozmej commented on #3971
We have the opposite, whitelisting with CallsFilterFilePath

https://docs.nethermind.io/nethermind/ethereum-client/configuration/jsonrpc

[2022-04-21 10:42] varasev commented on #3971
@LukaszRozmej Ah, got it. Ok, closing it

[2022-04-21 10:42] #3971 closed

[2022-04-25 14:36] LukaszRozmej opened #3983 "Fix eth_getLogs - return error when syncing/receipt not available"
**Describe the bug**
When syncing eth_getLogs doesn't return NotFound when syncing and not having correct data.

**To Reproduce**
Steps to reproduce the behavior:
1. Sync node
2. Ask eth_getLogs for not downloaded receipts
3. Partial results are given

**Expected behavior**
Should return an error that data isn't there

[2022-04-25 14:51] #3925 closed

[2022-04-25 14:51] LukaszRozmej commented on #3925
no details provided.

[2022-04-26 12:06] iSOcH commented on #3974
I have now also seen some incoming fragmented packets (on the consensus net this apparently even happens to TCP).

Anyway, it looks like setting `NETHERMIND_DISCOVERYCONFIG_BUCKETSIZE=12` reduces (maybe eliminates completely) this behavior. Should I expect any problems with this change?

[2022-04-26 14:54] ayazabbas opened #3985 "apt package version number is not incremented"
**Describe the bug**
The nethermind apt package for the new release is not available. See output of `apt-cache policy nethermind`:
[code]

If I uninstall the package and re-install, I do end up with the latest nethermind release (`1.12.7`) but the apt package is still version `1.1240`. My feeling is that the PPA repo is not correctly updated, I should be able to see and install a `1.1270` version

[2022-04-27 16:23] AntiD2ta commented on #3985
Hello @ayazabbas. I tried to replicate your issue in a fresh Ubuntu 20.04 LTS VPS. This is what I did using a user with root access:
[code]

First `apt-cache policy nethermind` output:
[code]

Second:
[code]

We updated the PPA repository with the release 1.1270 two days ago and on https://launchpad.net/~nethermindeth/+archive/ubuntu/nethermind is everything ok . By any chance your `apt update`  i

[2022-04-28 09:34] omerfirmak commented on #2738
This is still not solved, I am seeing the same behavior described here.

[2022-05-02 14:45] NoahStahl commented on #3949
Just noting this happened again today, upon the first graceful restart to apply updates. I had previously done a full resync and abandoned the previous state to get back to normal function.

It seems like stopping the instance is not safe.

[2022-05-03 04:44] MicahZoltu opened #3999 "Remove hard dependency on `git` CLI available to the build system."
**Describe the bug**
Previously, I could `dotnet build ...` on my machine without any problems.  Now when I try I get the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install Windows 11
2. Install dotnet SDK
3. Acquire Nethermind source code
4. `cd src/Nethermind`
5. `dotnet build --configuration Release Nethermind.sln`
6. Notice that the build fails

**Expected be

[2022-05-03 04:52] MicahZoltu opened #4000 "Fix compiler warnings, and setup CI to fail on introduction of compiler warnings."
**Describe the bug**
I believe the compiler warnings for Nethermind have been fixed several times over, but each time people just allow new ones through immediately after.  A one time cleanup of compiler warnings should be done, and in the same PR CI should be adjusted so it will fail on compiler warning so future commits don't just add them all back.

**To Reproduce**
Steps to reproduce the behav

[2022-05-03 08:58] dceleda commented on #3958
I've been able to reproduce the issue on Goerli.
At some point there were storage nodes missing:
`Collected info from 68000094 nodes. Missing CODE 0 STATE 0 STORAGE 226 `
A few minutes later there was an exception:

[code]

[2022-05-03 19:10] raymondjacobson commented on #1244
Is there any more context on the resolution here? Seeing this bug currently in production on nethermind 1.12.7

[2022-05-03 19:11] Pazzl opened #4001 "Change /health endpoint functionality"
In particular we are looking for a slight change on /health endpoint behavior when node is not synced yet however is "healthy" as it is syncing. Also the status code is 503.
The expected behavior would be smth more like 200 in status code and message like it is now in JSON format to have ability for parsing

[2022-05-03 19:48] rickyrombo opened #4002 "StateProvider: System.InvalidOperationException: Operation is not valid due to the current state of the object."
**Describe the bug**
A clear and concise description of what the bug is.

Running an RPC node. Seems like a race condition(?) of StateProvider, only seeing when under heavy load. This happens intermittently/nondeterministicly

Looking into trying to reproduce more consistently and investigating what's putting the StateProvider in a bad state, will follow up.

**To Reproduce**
Steps to reproduce th

[2022-05-03 20:06] dmanjunath commented on #4002
Not very knowledgeable about this issue, but running into this problem as well so doing a little digging. From looking at the [file from the stack trace](https://github.com/NethermindEth/nethermind/blob/aec476d0689416dc89e66f59e317b4d1bb2a3b7d/src/Nethermind/Nethermind.State/StateProvider.cs#L85-L88), could it be a race condition where one tx sets _needsStateRootUpdate = true and before Recalculat

[2022-05-04 00:41] raymondjacobson commented on #663
Hi @LukaszRozmej , @tkstanczak , I'm running a fork of an AuRa/POA implementation, and it appears as if finalizeChange never gets called for validators in the pendingList. I'm not sure why they aren't, but I'm wondering if this is potentially a nethermind bug (?).

IIUC, by https://blockchain101.com/wp-content/uploads/2021/08/TheDeFi20.pdf, it suggests that any time a validator change is triggered

[2022-05-04 07:08] LukaszRozmej commented on #4001
Similar health check issue is #3562

[2022-05-04 07:28] LukaszRozmej commented on #663
Hi @raymondjacobson this feature is successfully deployed on multiple chains: Gnosis (former xDai), Sokol, Poa Core, EWC, Volta ect. where everywhere it works fine and is with consensus with OpenEthereum implementation.

 The confusion is probably when finalizeChange is being called. So finalizeChange is being called when block where initiateChange was emitted is finalized. So when this happens? I

[2022-05-04 07:35] raymondjacobson commented on #663
Thanks @LukaszRozmej  -- This was weird. I sort-of figured out what was going on in this situation, but essentially I performed a hard-fork from a validator set that was entirely on OpenEthereum via a change to an AuRa contract to a new set of validators entirely on Nethermind. Here's what happened:

1. Created a new consensus contract and deployed it to the main chain (all open ethereum validator

[2022-05-04 07:57] LukaszRozmej commented on #663
Ah interesting. That's quite an edge case to make a completely different validator list. That would have to be investigated further.

[2022-05-04 07:58] LukaszRozmej opened #4003 "Potential issue with changing validator set completely in AuRa hardfork"
Details: https://github.com/NethermindEth/nethermind/issues/663#issuecomment-1117011414
Needs investigating.

[2022-05-04 09:48] LukaszRozmej commented on #663
As a current workaround my suggestion would be to split the upgrade into 2 stages:
1. New contract but same validators. Let it validate some blocks.
2. Initiate change in contract to switch to Nethermind nodes.

Should work without issues.

[2022-05-05 08:06] dcposch commented on #2509
I just ran into this issue, using env variables:

- `NETHERMIND_NETWORKCONFIG_MAXACTIVEPEERS` results in an invalid config warning.

- `NETHERMIND_NETWORKCONFIG_ACTIVEPEERSMAXCOUNT` works.

[2022-05-05 19:53] jclapis commented on #3247
I'm running into this as well, trying to run the canonical Nethermind Docker image as part of Rocket Pool on my Pi. I've tried v1.12.7 and v1.12.8 but they all exhibit the same behavior: the logs will show this, and then the Docker image will exit with code `132`.

Here are the logs:
[code]

Execution command:
[code]

This configuration works on an `amd64` system, so I assume it's related to ARM.

[2022-05-06 00:49] jclapis commented on #3247
Ok, I built the Docker image natively on the Pi itself for v1.12.8 and tried running it, but hit the same problem. I also just ran a shell directly from the container and tried invoking the command string I provided above, and it crashed but printed this at the end:

`Illegal instruction (core dumped)`

I threw it into GDB and found this:
![image](https://user-images.githubusercontent.com/627896/1

[2022-05-06 00:55] LukaszRozmej commented on #3247
@matilote we need different rocks db library version for ARM: https://github.com/facebook/rocksdb/blob/4750421ececbd32ea64652095ae1fbdb464d27db/util/crc32c.cc#L53-L55

[2022-05-06 06:16] jclapis commented on #3247
I compiled a version of this lib using Debian 9 and GCC 6, and it functions as a drop-in replacement that makes Nethermind work on Raspberry Pi's. Please see the above PR. I'll do my best to maintain this separately for Rocket Pool for now until it is merged into canonical Nethermind releases.

[2022-05-08 11:56] dceleda opened #4008 "Introduce SyncMode config property"
Could we change to have one property `SyncMode `with values from enumeration FullSync, FastSync, PivotSync, SnapSync instead of bool flags FastSync, FastBlocks, SnapSync? Those are now exclusive flags and make configuration confusing.

[2022-05-08 11:58] dceleda opened #4009 "Add documentation to SnapSync code"
Would be good to add general documentation to most important classes and methods.

[2022-05-08 12:07] dceleda opened #4010 "[Workaround] Handle incoming requests in SnapSync"
Currently we don't handle incoming requests at all in SnapProtocolHandler.. Maybe we should send empty replies until we have snapshots implemented.
We turn off snap sync capability anyway after the sync is finished.

[2022-05-08 12:22] dceleda opened #4011 "Apply code improvements in Snap Sync"
Apply code improvements in Snap Sync after @LukaszRozmej review:
https://github.com/NethermindEth/nethermind/pull/3840

[2022-05-09 10:14] #2617 closed

[2022-05-09 19:14] rickyrombo commented on #4002
@LukaszRozmej would you be able to shed some light on this maybe?

[2022-05-10 14:32] LukaszRozmej commented on #4002
Hi we will prioritize that after we are merge ready.

[2022-05-12 01:45] z3n-chada opened #4019 "Network.Bootnodes CLI flag ignored when using empty config."
**Describe the bug**
Network.Bootnodes flag ignored in docker container with empty config.

**To Reproduce**
Steps to reproduce the behavior:
With an empty config ({}) try passing
`--Network.Bootnodes="enode://<insert-enode-here>@X.X.X.X:PORT`

The log will report:
`2022-05-11 21:15:15.2676|WARN|19|No bootnodes specified in configuration`

Additionally nethermind will never peer.

**Expected behav

[2022-05-12 15:15] raster21 opened #4021 "Support for state overrides on eth_call and trace_call"
It would be great to get the ability to do state overrides with nethermind.

State overrides are supported in geth for `eth_call` and `trace_call`.

Here's an example snippet (from geth):
`debug.traceCall({from: addr, to: zero, value: '0x1'}, 'latest', {'stateOverrides': {[addr]: {'balance': '0x0'}}})`

This blog post explains the use case for state overrides quite well: https://www.libevm.com/202

[2022-05-12 19:22] tkstanczak commented on #4021
after the merge @raster21 but the request is reasonable

@kristofgazso ?

[2022-05-14 11:56] andreujuanc opened #4026 "MaxActivePeers not working on xDai?"
**Describe the bug**
Set `--Network.MaxActivePeers  X` logs `Incorrect config settings found`:
![image](https://user-images.githubusercontent.com/360052/168424521-f30b04f5-1592-4557-86e2-b9e86fc15b24.png)
It does not matter the amount I set it to.

**To Reproduce**
My setup https://github.com/andreujuanc/nodes

**Expected behavior**
If this setting is invalid for certain chains, maybe there should

[2022-05-14 23:47] jclapis commented on #3247
@LukaszRozmej This issue can probably be closed now, 34febaddfa53dbfe674aca9dc3a9ef825113c353 fixes it.

[2022-05-15 02:25] macrocan commented on #490
Is parity tracer action persisted now? How can i get that from a full node?

[2022-05-16 10:25] matilote commented on #3247
Closed with #4015

[2022-05-16 10:25] #3247 closed

[2022-05-16 11:31] LukaszRozmej commented on #4026
Hi please use `ActivePeersMaxCount`, there is an issue in mapping the config values, we will fix it.

[2022-05-16 12:50] andreujuanc commented on #4026
Thanks @LukaszRozmej !!
![image](https://user-images.githubusercontent.com/360052/168596316-0408b118-a55d-4fef-beb9-0097f6e42bea.png)

[2022-05-16 12:50] #4026 closed

[2022-05-19 14:15] asdacap commented on #3974
Seems like geth is using 12 as it's max neighbors. When sending 16 nodes, it seems that nethermind is taking 1373 byte.

[2022-05-19 15:33] garyrob opened #4039 "On AMD Ubuntu 22.04, can't run nethermind due to missing RocksDB"
**Describe the bug**
I installed nethermind v1.13.0 on Ubuntu 22.04 on an Intel system according to the PPA instructions at https://github.com/NethermindEth/nethermind/releases.

When I try to run it using those instructions, I get a long set of errors, beginning with "2022-05-19 08:20:44.7240|RocksDb was not found, please make sure it is installed on your machine."

I tried installing RocksDB usi

[2022-05-19 20:23] LukaszRozmej opened #4040 "Remove MemoryHint"

[2022-05-19 21:57] LukaszRozmej commented on #3974
So we should limit ourselves to 12 too?

[2022-05-20 04:22] asdacap commented on #3974
I think so yes.

[2022-05-20 07:25] iSOcH commented on #3974
But would that reliably keep the message size below 1280? I am not very familiar with the code/spec, but it appears the records can also carry IPv6 addresses?

[2022-05-20 09:19] FalcoXYZ commented on #4039
@garyrob please run the following command as a temp fix:
`sudo ln -s /usr/lib/x86_64-linux-gnu/libdl.so.2 /usr/lib/x86_64-linux-gnu/libdl.so`

[2022-05-20 12:02] LukaszRozmej commented on #3974
If not we can just count the bytes as we would be adding items and not add if we go beyond the limit

[2022-05-20 16:34] asdacap commented on #3949
Just checking, according to SMART, how is the health of you drive?

[2022-05-21 12:40] NoahStahl commented on #3949
There are no signs of issues with the hardware, everything reports healthy. Also, Nethermind runs fine for weeks with all the usual disk activity and no apparent problems. It is just when it is stopped that this issue manifests, which in my experience suggests there's something amiss with handling the process termination? I notice there is already a pretty comprehensive graceful shutdown phase, an

[2022-05-21 19:46] garyrob commented on #4039
That seems to have fixed it, thanks!

[2022-05-21 19:57] garyrob commented on #4039
Does nethermind need the Rocksdb I installed, or nethermind self-contained? I'd like to get rid of the Rocksdb I installed if it isn't necessary.

[2022-05-22 14:52] Ju57iCe commented on #1887
Hello guys is this still a valid issue? And if so, what should be the desired output? I can give it a go - just give me the details :)

[2022-05-23 19:32] DockBoss opened #4049 "Nethermind error when shutting down during snap sync"
**Describe the bug**
I was testing snap sync on Mainnet and I had to shut it down mid sync. When I did Nethermind started to error for 20-30 seconds before it shut down.

**Config File**
I only changed the `Sync` Module
[code]
**Screen Shots**
![image](https://user-images.githubusercontent.com/56698307/169892472-de8e16b3-8f8d-4cd7-9dd3-c47f27c8e784.png)

**Desktop (please complete the following in

[2022-05-23 20:51] z3n-chada opened #4050 "OverflowException in new BlockHeader"
**Describe the bug**
There is no check to the values that are cast to create a new BlockHeader from RLP. The client does not go down but does dump a stack exception.

**To Reproduce**
The issue was in creating a new block header from: https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/Nethermind.Serialization.Rlp/HeaderDecoder.cs#L57

The block it received and was creating a he

[2022-05-23 23:50] jamescarter-le commented on #4002
+1 With this happening to me on simple eth_Call queries, just getting some State from a contract.
Odd I've not seen it before, but just started happening today, no change in application. Running 1.13.0

[2022-05-24 20:25] jamescarter-le commented on #4002
I have this happening under reasonably light load, covering live UniV2 and V3 swaps, nothing I would consider intense. I'll get some counter data to share.

I had run master branch over this DB set, and before that had not experienced this issue. I am resyncing a new DB that should be finished tomorrow for me to check if that displays the same issue.

[2022-05-25 00:24] LukaszRozmej commented on #4002
I might have found the root cause, but would be grateful for any feedback if it works for you. Packages are here: https://github.com/NethermindEth/nethermind/actions/runs/2381291605 I can build a docker image if needed.

[2022-05-25 01:00] raymondjacobson commented on #4002
Thank you @LukaszRozmej ! Definitely happy to test. If you can build a docker image, that would be fantastic.

[2022-05-25 04:36] asdacap commented on #3974
They seems to have tested this with ipv6. https://github.com/ethereum/go-ethereum/blob/master/p2p/discover/v4wire/v4wire.go#L113

In any case, we probably should log a warn when this happen.

[2022-05-25 05:11] jclapis opened #4057 "Nethermind in Docker shuts down incorrectly due to SIGTERM instead of SIGINT"
**Describe the bug**
By default, Docker uses SIGTERM as the shutdown signal when a user calls `docker stop` or `docker-compose down`. Nethermind may not be handling this correctly, as evidenced by this log it produces when a shutdown is invoked:

[code]

However, when changing the signal to `SIGINT`, it shows what I believe is the expected behavior (here is the tail since it's quite long):

![imag

[2022-05-25 05:13] smartprogrammer93 commented on #4008
FullSync, FastSync, PivotSync, SnapSync
Cover almost all cases but what about SnapSync with FastBlock as well? SnapPivotSync maybe?

[2022-05-25 05:23] smartprogrammer93 commented on #4008
Also, how do we go about being backwards compatible? Meaning, if someone updated nethermind to a newer version using an old config file that has the bool flags.

[2022-05-25 05:50] asdacap commented on #4057
I can confirm same behaviour without docker.

[2022-05-25 08:50] LukaszRozmej commented on #4002
@raymondjacobson please test  from: https://hub.docker.com/layers/nethermind/nethermindeth/nethermind/json-rpc-state-reset-fix/images/sha256-19486c4ec5a6a69dca5d1e6a86c0178076f0ad6401f3eaf28b83d18f02a1cd0c?context=explore

[2022-05-25 10:51] jamescarter-le commented on #4002
This looks like it has fixed my issue, will continue to monitor.

[2022-05-25 11:27] LukaszRozmej commented on #4002
@jamescarter-le keep me posted we would include it in next release if it works

[2022-05-25 17:55] jamescarter-le commented on #4002
I've been running this version since this morning and had only 1 instance of this being thrown, but this was from my own Tracer plugin that uses BlockchainBridge, likely unrelated.

Been able to throw many RPC requests and hundreds of eth_estimateGas calls through with no issue.

[2022-05-25 21:13] rickyrombo commented on #4002
Thank you so much @LukaszRozmej ! This seems super promising. Will test the docker image

[2022-05-26 13:44] #4002 closed

[2022-05-27 14:31] #2509 closed

[2022-05-27 14:31] LukaszRozmej commented on #2509
fixed

[2022-05-27 17:16] AntiD2ta commented on #4039
Yeah, it needs Rocksdb, unless you use Nethermind docker image. The debian package use Nethermind binaries and this need dependencies such as Rocksdb to run.

[2022-05-27 17:16] #4039 closed

[2022-05-27 22:30] csjiang commented on #4002
Hey @LukaszRozmej - thanks for the fix!

We (Audius) were able to test this w one of our Nethermind nodes and rotate into load - it works! No `InvalidOperationException` so far in the 2~ hours it's been running. Will upgrade rest of nodes w this today and add them to load early next wk. I'll follow up here at that time if we encounter this issue again.

[2022-05-28 12:19] LukaszRozmej commented on #4002
This was release on 1.13.1

[2022-05-29 19:01] #3983 closed

[2022-06-01 13:04] mcdee opened #4095 "Require option to disable log file"
**Is your feature request related to a problem? Please describe.**

Nethermind appears to write to both stdout and a log file, which is superfluous when running under a control harness (e.g. systemd).  Being able to turn off the log file output would avoid the log taking up disk space unnecessarily.

**Describe the solution you'd like**

Add some sort of option to disable output to the log file, f

[2022-06-02 08:04] FalcoXYZ commented on #4039
@mcdee The current fix is the symlink. Please feel free to contribute if you think you have a better fix.
We opted for this fix as the libc6/libc6-dev packages don't use the libdl.so library anymore, but changed it to libdl.so.2.

This is the symlink for amd64: sudo ln -s /usr/lib/x86_64-linux-gnu/libdl.so.2 /usr/lib/x86_64-linux-gnu/libdl.so
If you use arm64, you can use: sudo ln -s /usr/lib/aarc

[2022-06-03 08:37] #3974 closed

[2022-06-03 09:20] c0deright opened #4104 "Can't start Nethermind.Cli on Ubuntu 22.04: Could not load file or assembly 'plugins/Nethermind.Consensus.AuRa.dll'"
**Describe the bug**

I'm running nethermind 1.13.1 on Ubuntu 22.04 LTS with manually installed `librocksdb6.11` and the [symlink quickfix](https://github.com/NethermindEth/nethermind/issues/4039).

Nethermind is running on `ropsten` testnet and is working fine.

Starting Netzermind.Cli results in an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Install nethermind 1.13.1 on Ubuntu 2

[2022-06-03 11:03] FalcoXYZ commented on #4104
I will pick this up, thank you for noticing!

[2022-06-03 12:55] dceleda opened #4105 "Make SnapSync config to be override of FastSync"
**Is your feature request related to a problem? Please describe.**
Currently, to run Snap Sync both options have to be set to TRUE: FastSync and SnapSync
It's because the Snap Sync is just a subset of FastSync.
Unfortunately it's not intuitive for the users and they tend to set FastSync to False
We could improve our docs but maybe a better option is to treat SnapSync option as an override and when

[2022-06-03 14:18] FalcoXYZ commented on #4104
Should be fixed in next release. :)
https://github.com/NethermindEth/nethermind/pull/4090

[2022-06-03 14:18] #4104 closed

[2022-06-03 14:54] dceleda opened #4108 "Don't Snap Sync if State is up to date"
Scenario:
1. A node is already synced via FastSync (not by SnapSync) and is processing.
2. The node is stopped and the binaries are updated to the latest version including Snap Sync. The config is set to SnapSync = true
3. The node is started
4. The Node should start SnapSync but continue processing

We need to figure out if a node already has downloaded full state at some point in the time and ho

[2022-06-03 19:06] hareeshnagaraj opened #4111 "Failure to process `finalizeChange` with custom consensus contract"
**Describe the bug**
Hi everyone! While attempting to perform a hard fork of the existing POA network with a custom consensus contract and nethermind validators, I am observing an odd failure in evaluation of `finalizeChange` - the steps followed are as below:

1. Deploy new consensus contract to POA core  - https://github.com/AudiusProject/audius-protocol/compare/hn_simple_consensus_poc?expand=1

[2022-06-06 07:32] #4105 closed, assigned to dceleda

[2022-06-08 09:33] SinErgy84 opened #4127 "RPC: trace_filter ignores params ToAddress / FromAddress"
**Describe the bug**

Hi everyone!
While testing with the trace_filter method, I seem to have discovered a problem with filtering by address.
On the Ropsten network, I performed an "internal transaction" affecting the address 0x571aC301F47d68b2dcE5F1631Fb24474BacEd740. 10 ETH faucets were transferred to this address.

![Auswahl_565](https://user-images.githubusercontent.com/17455315/172578329-d9ea

[2022-06-08 10:55] c0deright opened #4129 "Use a subfolder in your release archives to prevent cluttering the working directory where the archive is being extracted"
**Is your feature request related to a problem? Please describe.**
When downloading a nethermind release from github and extracting the zip file the working directory is filled with many files/directories because the zip files content is located in the zip's root and not a subfolder.

[code]

**Describe the solution you'd like**
Best practice in software development and software distribution is to

[2022-06-08 11:03] c0deright opened #4130 "Disable color-output of Nethermind.Cli per default"
**Is your feature request related to a problem? Please describe.**

![screenshot_nethermind_cli](https://user-images.githubusercontent.com/20477825/172600782-9f2c33a3-f738-4d8c-8d98-28a18791fe75.png)

**Describe the solution you'd like**
Disable coloring of output of Nethermind.Cli per default.

**Additional context**
The user should not be forced to change his terminal background color to be able

[2022-06-08 11:12] FalcoXYZ commented on #4129
We have no plans on changing this right now. You can however pass the -d flag and unzip it to a directory of your choice.

An example in your case would be: unzip -q ~/download/nethermind-linux-amd64-1.13.2.zip -d ~/nethermind

[2022-06-08 11:12] #4129 closed

[2022-06-08 11:16] marcindsobczak opened #4131 "Config: syncConfig.SnapSync not overriding syncConfig.FastSync as expected"
**Describe the bug**
Node with config `"SnapSync": true` but without `"FastSync": true` is not starting sync.

**To Reproduce**
Steps to reproduce the behavior:
1. Run client with "SnapSync": true instead of "FastSync": true

**Expected behavior**
FastSync should be true always when SnapSync is true, as expected in https://github.com/NethermindEth/nethermind/pull/4113

**Additional context**
In PR

[2022-06-08 11:42] c0deright commented on #4129
I know how to extract the contents in a subfolder, thanks. Just wanted to let you know that almost nobody will expect that unusual behaviour.

[2022-06-08 14:42] #4131 closed

[2022-06-08 18:05] quickchase opened #4133 "debug_traceBlockByNumber - latest and finalized - invalid params"
**Describe the bug**
It looks like `debug_traceBlockByNumber` is not accepting `"latest"` or `"finalized"` on the latest release on Ropsten post-merge.

**To Reproduce**
https://github.com/NethermindEth/nethermind/releases/tag/1.13.2

`{"method":"debug_traceBlockByNumber","params":["latest"],"id":1,"jsonrpc":"2.0"}`
`{"method":"debug_traceBlockByNumber","params":["finalized"],"id":1,"jsonrpc":"2.0

[2022-06-08 18:32] quickchase commented on #4133
This issue may pre-date the merge/latest release we only noticed after switching from OpenEthereum - I tested another node on mainnet and it has the same problem. Doesn't understand `"latest"`?

[2022-06-10 07:20] LukaszRozmej commented on #4133
Yes it doesn't similar to Geth which also accepts only numbers there - hence the name.
We can add another overload if you need debug_traceBlockByParameter or something?

[2022-06-10 08:51] c0deright opened #4140 "Syncing ropsten from scratch stops at downloading block 12350751 over and over again"
**Describe the bug**
My Nethermind client didn't have TTD of `50000000000000000` configured when the ropsten testnet merged, so it did hang at block `12350712`. Setting TTD and restarting Nethermind didn't change anything, so I deleted `datadir/nethermind_db/ropsten/` and restarted Nethermind (with TTD of `50000000000000000`). (This right there is a bug on it's own. It should be possible to advanc

[2022-06-10 10:48] SinErgy84 opened #4143 "RPC: ```trace_filter``` results in ```internal error```"
**Describe the bug**
While tracing different transactions on the mainnet for my use case, I've found a bug in ```trace_filter``` if block delta between FromBlock and ToBlock gets to large.
The response from the client looks like this:

[code]

**To Reproduce**
Call ```curl --data '{"method":"trace_filter","params":[{"fromBlock":"0xe3ed9c","toBlock":"0xe3eeab"}],"id":1,"jsonrpc":"2.0"}' -H "Content

[2022-06-10 11:05] #4140 closed, assigned to nobody

[2022-06-10 17:10] hareeshnagaraj commented on #4111
@LukaszRozmej just wanted to bump - any insight into what could possibly be wrong here?

[2022-06-11 11:13] MicahZoltu opened #4148 "`eth_sendTransaction` returns `AlreadyKnown` error, should return transaction hash."
**Describe the bug**
If you `eth_sendRawTransaction` for a transaction that is already in the mempool you receive an error of `AlreadyKnown`.  Instead, you should receive the transaction hash.

This is especially impactful when combined with other bugs like when you call `eth_sendRawTransaction` and get back a `FeeTooLow` error (no transaction hash) and then when you send it again you get `Already

[2022-06-11 17:09] dapplion opened #4149 "BlockAuthorAccount not found should be a critical error"
**Is your feature request related to a problem? Please describe.**

If `KeyStore.BlockAuthorAccount` is set but it's privkey is not found Nethermind just logs

[code]

This is bad UX because it's not obvious on first sight that there's anything wrong. The log above in buried into many other init logs. When it's time for you to seal blocks nothing will happen.

**Describe the solution you'd like**

[2022-06-11 17:11] dapplion opened #4150 "execution engine port "already in use" should be a critical error"
**Is your feature request related to a problem? Please describe.**

If port for execution engine is already in use Nethermind just does log and continues. This should be a fatal error and stop the process completely

Instead it just logs this, which is buried in init logs:

[code]

post-merge this could be really bad for users

**Describe the solution you'd like**

The process should exit 1 immedi

[2022-06-11 17:18] dapplion opened #4151 "Creates unwanted private key when providing keystores"
**Describe the bug**

When running Nethermind with keystores

[code]

Nethermind still creates and extra private key. Is this expected behaviour? I don't expect nor want this key to be generated

**To Reproduce**

1. Clone https://github.com/dapplion/nethermind-tests/tree/48f9a7f124137b5df3a52a24ea689086a233fd9b/nethermind-solo-devnet-clique-keystores
2. Run `docker-compose up`
3. Check `nethermin

[2022-06-12 13:18] dapplion opened #4153 "Failure to initialize merge plugin should be a critical error"
**Describe the bug**

Same story as
- https://github.com/NethermindEth/nethermind/issues/4149
- https://github.com/NethermindEth/nethermind/issues/4150

Nethermind logged

[code]

and continue happily, but the merge plugin was not loaded. So when the CL found the merge block everything errored because:

[code]

**To Reproduce**

- Clone https://github.com/dapplion/nethermind-tests/tree/cc1dcb21da9

[2022-06-13 02:20] fortsoftware commented on #3852
In my case I still experience a memory leak on 1.13.2 (on debian). It is a slow increase of memory over time but it is a leak.

[2022-06-13 03:52] alexpeterson91 commented on #3852
You're 100% right not sure why this was closed I'll reopen it's been wreaking havoc on my 2 machines dedicated to testing nethermind with dappnode for months.

[2022-06-13 12:29] luarx opened #4157 "trace_filter method does not work"
**Describe the bug**
`trace_filter` method does not return the expected result

**To Reproduce**
[code]

**Expected behavior**
**At least similar to Openethereum** nodes when we do the same request:
[code]

**Desktop (please complete the following information):**
 - OS: official docker image
 - Version: nethermind/nethermind:1.12.7

**Additional context**
Current configuration:
[code]

[2022-06-13 23:29] raymondjacobson commented on #3849
This issue prevents the node from coming online, so the RPC isn't live to send a debug_resetHead. Is there another way to send it via config / startup?

[2022-06-14 10:43] luarx commented on #4157
Right @SinErgy84, it looks like it is the same problem
I will close this issue so!

[2022-06-14 10:43] #4157 closed

[2022-06-14 12:59] #4151 closed

[2022-06-14 14:36] dapplion commented on #4151
What's the format for `EnodeAccount`? Could you provide an example?

[2022-06-15 13:45] #4057 closed

[2022-06-16 09:10] fleupold opened #4165 "trace_callMany doesn't allow to trace dependent transactions"
**Describe the bug**
While not being a standard ETH RPC method, `trace_callMany` was first introduced by the OE in order to allow simulating dependent transactions (cf. [docs](https://openethereum.github.io/JSONRPC-trace-module#trace_callmany)). It has since been implemented by other clients such as Erigon (https://github.com/ledgerwatch/erigon/pull/1486) and also Nethermind (in #3571).

However,

[2022-06-17 08:43] tropicar opened #4169 "Failed to create CoreCLR, HRESULT: 0x80070008"
**Describe the bug**
A clear and concise description of what the bug is.
I am developer for dappnode and in the version [v1.13.2](https://github.com/NethermindEth/nethermind/releases/tag/1.13.2) I started to have this error message. It seems is something related to some dappnode environment configuration as docker version i think.The error not only happens if you install a dappnode package, it hap

[2022-06-17 09:00] asdacap commented on #4169
Can you use the version tag explicitly `nethermind/nethermind:1.13.2` and run `docker image inspect nethermind/nethermind:1.13.2` to double check if we are looking at the same image?

[2022-06-17 09:07] asdacap commented on #4169
Also, can you share your output for `docker info`?

[2022-06-17 09:07] tropicar commented on #4169
If i use the specific tag 1.13.12 `docker run -it -p 8545:8545 nethermind/nethermind:1.13.2 --JsonRpc.Enabled true --JsonRpc.Host 0.0.0.0`
[code]
Type `docker image inspect nethermind/nethermind:1.13.2`:
[code]

[2022-06-17 09:07] tropicar commented on #4169
docker info output:
[code]

[2022-06-17 10:17] asdacap commented on #4169
Can you try this custom image? `nethermindeth/nethermind:asdacap-1132-test-debian`

[2022-06-17 10:32] asdacap commented on #4169
There seems to be a potential issue with old docker and ubuntu jammy (which 1.13.2 switch to). https://www.linuxserver.io/blog/anatomy-of-an-issue, you may want to try to upgrade docker also.

[2022-06-17 12:27] gituser commented on #3972
any update on this?
can't interact with nethermind via geth over IPC socket

[2022-06-17 12:50] dapplion opened #4170 "Wrong permissions on jwtsecret prevent functional JSON RPC"
**Describe the bug**

Wrong permissions on jwtsecret cause the error
[code]

The node does not exit so it appears everything is fine. However, then the beacon node complains that localhost:8545 is not listening

**Expected behavior**

Node should exit 1 if jwtsecret can not be read

[2022-06-17 14:15] tropicar commented on #4169
I have tested that image and all works

[2022-06-17 14:56] tkstanczak commented on #4153
@LukaszRozmej how about marking this plugin as critical from inside the app?

[2022-06-17 21:41] #4108 closed

[2022-06-18 11:48] NimbusNerd commented on #4169
Had the same issue and fixed it by upgrading docker ([https://docs.docker.com/engine/install/debian/](https://docs.docker.com/engine/install/debian/)).
Didn't have to use your custom nethermind image.

[2022-06-19 05:57] asdacap commented on #4169
Got it, that confirms it then. There is a compatibility issue with ubutntu 22.04 with old docker version. The docker will need to be upgraded.

[2022-06-19 05:57] #4169 closed

[2022-06-19 13:06] lightclient opened #4174 "`HIVE_SKIP_POW` not used"
In the hive runner class, [it is noted](https://github.com/NethermindEth/nethermind/blob/82f331a3e7ff21712a5f839e0a62ba7c16110e44/src/Nethermind/Nethermind.Hive/HiveRunner.cs#L105) that `HIVE_SKIP_POW` is an expected env var, but then does not use it in any way. Is there any support in nethermind for running with doing the proof-of-work verification? This is useful in hive for testing and all othe

[2022-06-20 06:18] asdacap opened #4175 "Several account of increased memory usage on 1.13.3"
**Describe the bug**

Several account of increased memory usage on 1.13.3 or malfunction due to OOM on 1.13.3.
- https://discordapp.com/channels/629004402170134531/706640322305982506/987349186464866374
- https://discordapp.com/channels/629004402170134531/629004402170134537/988160850676306030

Also, nethermind did not crash on OOM.

**To Reproduce**
Steps to reproduce the behavior:
1. Sync mainnet

[2022-06-21 11:20] asdacap commented on #4175
No change in memory usage between 1.13.2 to 1.13.3, OOM likely related to the trie exception in the log.

[2022-06-21 11:20] #4175 closed

[2022-06-21 14:01] #4050 closed

[2022-06-21 20:22] quickchase opened #4179 "Missing Receipts on Ropsten"
**Describe the bug**
When calling `eth_getTransactionReceipt` against a recent ropsten block I get a `null` response however, txHashes around it work fine, also asking for the receipts for the entire block also works and returns the hash in question.

[code]

`{"jsonrpc": "2.0", "result": null, "id": 1}`

vs.

[code]

[code]

As you can see `parity_getBlockReceipts` knows all about `0x5254301be622

[2022-06-22 00:21] gituser commented on #4179
I have a similar issue on a synced Nethermind node on ropsten with latest `v1.13.3` version, in logs I observe queue is being increased but no old blocks bodies downloaded:

[code]

[2022-06-22 00:55] MysticRyuujin commented on #4179
@gituser - This is not a similar issue. You'll want to open a separate issue.

[2022-06-22 05:40] 1scrooge opened #4183 "Ropsten is not syncing"
My Ropsten node is not syncing.
Launch command:
[code]
The node downloaded Header Sync Dispatcher and does nothing else, just shows only the number of peers in the log:
[code]
Health status
![image](https://user-images.githubusercontent.com/32951007/174951426-42aabc3e-eab8-4e98-8d4f-cf3ffc5c936a.png)

[2022-06-22 06:39] SwankyRichies opened #4184 "Bitcoin"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-06-22 06:59] LukaszRozmej commented on #4183
Hi @1scrooge we are working on post-merge sync issues

[2022-06-22 07:13] MarekM25 commented on #4183
@1scrooge What CL client are you using? I don't see in logs any requests from CL side

[2022-06-22 07:49] 1scrooge commented on #4183
Do you mean consensus client? I thought nethemind should be synced before running the consensus client

[2022-06-22 07:58] c0deright opened #4185 "[SECURITY] nethermind is logging the password used for `personal_unlockAccount` RPC call"
**Describe the bug**
Nethermind logs all RPC requests and their arguments in its logfile. Nethermind **does not** obfuscate or censor the password argument when `personal_unlockAccount` is called.

This behaviour
a) is a potential security risk and
b) against best practices to not log secrets at all and
c) should be avoided

**To Reproduce**
Steps to reproduce the behavior:
1. run nethermind
2. cr

[2022-06-22 08:30] asdacap commented on #4179
May I know which CL you are using?

[2022-06-22 08:48] asdacap commented on #4179
Also, can you provide logs for the run?

[2022-06-22 09:40] LukaszRozmej commented on #4148
Geth also sends AlreadyKnown:
https://github.com/ethereum/go-ethereum/issues/22093
https://github.com/ethereum/go-ethereum/issues/22093

[2022-06-22 09:42] gituser opened #4189 "Nethermind is not syncing old blocks on Ropsten"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run latest `v1.13.3` nethermind version and sync ropsten
2. As a CL  I run `lighthouse v2.3.1`
3. After syncing headers, state, everything Nethermind is not syncing old blocks, queue just grows until it grows to 12350688 but then nothing happens:
[code]
5. Althrough new bl

[2022-06-22 10:07] gituser commented on #4183
@1scrooge you need a CL client in order to run Nethermind post merge:
https://docs.nethermind.io/nethermind/first-steps-with-nethermind/running-nethermind-post-merge

[2022-06-22 10:55] alexdraghici opened #4191 "Nethermind constantly seals empty blocks"
Nethermind constantly seals empty blocks on spaceneth after calling eth_sendRawTransaction

Steps to reproduce the behavior:
1. Run node with command .\Nethermind.Runner.exe --config 'spaceneth.cfg'
2. Send transaction using Web3.py
    ETHEREUM_NODE = HTTPProvider(ETHEREUM_NODE_ADDRESS)
    WEB3 = Web3(ETHEREUM_NODE)
    signed_txn = WEB3.eth.account.signTransaction(
        dict(
            non

[2022-06-22 11:19] MicahZoltu commented on #4148
I think this is incorrect behavior, given that the send is functionally idempotent.  Is there anything that can be done to get Nethermind to be the first mover on fixing this "bug", or will you only change this if Geth changes it first?

[2022-06-22 11:36] gituser commented on #4189
Ping @LukaszRozmej @MarekM25 @marcindsobczak

[2022-06-22 11:37] LukaszRozmej commented on #4148
Yes, I agree it's controversial as the user doesn't care and would prefer not to handle this edge case. We will try changing this.

[2022-06-22 11:38] marcindsobczak commented on #4189
We are investigating it right now

[2022-06-22 11:54] gituser commented on #4189
@marcindsobczak Thank you!

Please let me know if you need any more info from my side.

[2022-06-22 14:43] quickchase commented on #4179
So I'm not sure which logs you would like me to provide, however, I have 8 Nethermind nodes 4 on Teku, 4 on Lighthouse and they all exhibited this behavior.

I did a re-sync on one of them and it's returning the receipt now via `eth_getTransactionReceipt` but I really don't want to re-sync 7 more nodes without knowing what the problem is/was that caused this.

[2022-06-22 14:46] asdacap commented on #4179
Woa, that is some nodes. Can you give logs for any one of them that is missing receipts?

[2022-06-22 14:52] quickchase commented on #4179
Please check discord - I'd like to DM them to you.

[2022-06-22 15:55] c0deright opened #4192 "segfault error 4 in librocksdb.so while shutdown in progress"
**Describe the bug**
While shutting down nethermind there was a segfault observed (race condition?).

**To Reproduce** (happened only once in over 30 restarts in the last several days on several nodes)
1. stop nethermind
2. observe kernel log

**Expected behavior**
A clean shutdown without Segfaults

**Desktop (please complete the following information):**
 - OS: Ubuntu Focal 20.04 LTS
 - Nethermi

[2022-06-23 09:32] tanishqjasoria commented on #4191
in spaceneth, the block production is triggered every 200ms when the transaction pool is not empty ( can be configured to behave differently ).
Now the transaction you are submitting has the gas fee lower than the base fee for the block, which is 1GWei at genesis for spaceneth. So every 200ms a block is being produced (as there is a transaction in the pool) but the transaction cannot be include in

[2022-06-23 10:10] #4191 closed

[2022-06-23 10:44] flcl42 opened #4196 "WitnessCollector concurrency issues"
Error collecting witness

[code]

_Originally posted by @MysticRyuujin in https://github.com/NethermindEth/nethermind/issues/2515#issuecomment-797744959_

[2022-06-23 11:11] most08 opened #4197 "```eth_estimateGas``` results in an error when omitting the ```from```-field"
**Describe the bug**
When calling ```eth_estimateGas``` without the ```from```-field (sender-address) an error is occuring:

`
Error when handling ID 1, eth_estimateGas({
  "to": "0x53d8cd462fa22e843ff0c4425f5cf2f4f00273ae",
  "value": "0x16345785d8a0000"
}) | {"jsonrpc":"2.0","error":{"code":-32000,"message":"insufficient funds for transfer: address 0xfffffffffffffffffffffffffffffffffffffffe"},"i

[2022-06-23 11:16] tkstanczak commented on #4197
Thanks for reporting @most08 , we will look at this now.

[2022-06-23 11:46] LukaszRozmej commented on #4197
We might have fix already but needs more testing: https://github.com/NethermindEth/nethermind/pull/3824

[2022-06-23 12:17] #3958 closed

[2022-06-23 12:18] LukaszRozmej opened #4198 "Consider switching RlpStream to a struct"
Inspired by https://github.com/NethermindEth/nethermind/pull/4194

[2022-06-23 12:26] tanishqjasoria commented on #4191
here is the parameter - its not in the config file https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/Nethermind.Consensus.Ethash/NethDevPlugin.cs#L106
For the gas fees: its not the direct. Since EIP1559 there are two parts of the fees - BaseFee + PriorityFee
- for setting baseFee of the genesis block you can add the `baseFeePerGas` key to `genesis` part in spaceneth.json
- for

[2022-06-23 13:33] alexdraghici commented on #4191
Thank you! I've managed to pass this issue by increasing the gas price in my transactions. Now the problem is that I cannot find the transaction using WEB3.eth.getTransactionReceipt(tx_hash). It returns:
web3.exceptions.TransactionNotFound: Transaction with hash: b'\xba\x17\xea[\xf5.\x06k\x17M\xde\xfee\x19W<\x87\xcf\x08\x1e3\xe0J%\xeb\x989\xfb\xf7;~\xc3' not found.
The node logs look fine:
![image

[2022-06-23 13:38] LukaszRozmej commented on #4196
BlockProcessing is a given, but do you know what would be other concurrent update here? Maybe internals are not the problem but usage?

[2022-06-23 14:17] tanishqjasoria commented on #4191
in the first case, looking at the logs, i believe you are calling ` WEB3.eth.getTransactionReceipt(tx_hash)` right after sending the transaction. You have to wait for it to be included in the block first

[2022-06-23 21:42] LukaszRozmej commented on #4191
@tanishqjasoria I think we should modify and change IfPoolIsNotEmpty to more of if TxSource is returning transactions? We would not build empty blocks then.

We could also add TxPool configuration value, should we allow transactions under basefee to be included (some people do, some people don't). You can contact @marcindsobczak we should have some code in history ready to be used, just parametriz

[2022-06-24 06:25] tanishqjasoria commented on #4191
If we want to keep the consensus similar to that of ethereum, then we cannot include transaction the are less than baseFee, it would be a consensus issue.
As for empty blocks, i think it is the correct behavior. With each empty block the baseFee decreases and eventually the transaction gets included. If we stop producing the empty block, that transaction will never get included in the block.
One t

[2022-06-24 08:22] alexdraghici commented on #4191
This is basically the code for deploying the contract
transaction = contract.constructor(*contract_constructor_args).buildTransaction(
        {'chainId': WEB3.eth.chainId, 'gas': MAX_GAS_LIMIT, 'gasPrice': Defaults.gas_price,
         'nonce': nonce})

signed_txn = WEB3.eth.account.signTransaction(transaction, private_key=private_key)
WEB3.eth.sendRawTransaction(signed_txn.rawTransaction)
I've pr

[2022-06-24 08:46] tanishqjasoria commented on #4191
It's again a gas price issue, just keep the gas price to a min of 2GWei and all the transactions will work.
Sorry for the inconvenience, we will fix this in the next release. In the mean time if you want to configure the gas prices, you can modify the config file and do some thing similar to this - https://github.com/NethermindEth/nethermind/commit/b098e7b43e087247b6a5d6c826b3f3f68ad2a9f9

[2022-06-24 08:51] alexdraghici commented on #4191
I am using this as default gas price:
class Defaults:
    gas_price = WEB3.toWei(50, 'gwei')
and for gas:
MAX_GAS_LIMIT = 8000000

I do not understand how did the raw transaction end up with a lower gas price if what I used is 50GWei?

[2022-06-24 09:04] gituser opened #4205 "Support tracing of synced, not-processed blocks"
**Describe the bug**
I've synced Nethermind on the mainnet to replace OpenEthereum client, but trace_filter returns empty response for some reason:

[code]

On my old OpenEthereum node the result is correct though:
[code]

I've tried enumerating through latest blocks and found out that the only available blocks for trace_filter are last 2910 +/- 10 blocks from the latest synced block.

E.g. If I t

[2022-06-24 09:11] gituser commented on #4205
Related issue: https://github.com/NethermindEth/nethermind/issues/4143

[2022-06-24 09:18] gituser commented on #4185
@LukaszRozmej some ppl still using this methods to create accounts or send transactions, it's handy to be able to do that, even geth allows personal namespace and not deleting these methods.

Of course for the best security you need to use 3rd party signing, but for testing something it's useful (e.g. testing sending on testnet).

[2022-06-24 09:29] LukaszRozmej commented on #4143
This is due to pruning or fast syncing from block X, big/full ranges will only work on archive mode. I think in all call/trace methods we need to catch those exceptions and return information about state being not available.

[2022-06-24 09:50] LukaszRozmej commented on #4185
Geth would like to drop support for it two: https://twitter.com/URozmej/status/1537374156584517632
https://geth.ethereum.org/docs/clef/tutorial

Nodes are not designed for this and shouldn't be.

[2022-06-24 10:14] gituser commented on #4143
@LukaszRozmej why it worked fine on parity (openethereum) even on a fast node with pruning activated?

[2022-06-24 10:17] gituser commented on #4185
It's useful feature and I'm sure many are still using it who didn't want to invest into creating their own signing system.

And many nodes are staying inside internal networks not exposed anywhere.
So breaking this functionality for the end users isn't a good idea.

[2022-06-24 12:58] jkylling opened #4208 "Duplicate traceAddresses in traces from block 0x15bb5d4 on xDai/Gnosis"
**Describe the bug**
Duplicate traceAddresses appear in the traces for this transaction https://xdai.tokenview.com/en/tx/0x58d38ce04495c128d82bcbcc6070f8af088513ad35e1a3e5bf3c2654ed7dcad9 of block 0x15bb5d4 on the xDai/Gnosis chain when fetched with `trace_transaction` from our node provider (Quicknode). There are multiple traces with `traceAddress=[2]`. We get this when calling `trace_transaction

[2022-06-24 13:24] LukaszRozmej commented on #4143
separate
Parity stored traces in a separate database. We are not. We could potentially change that but only for full synced nodes (with pruning). The tradeoff would be an increased disk footprint.

[2022-06-24 13:28] LukaszRozmej commented on #4205
This is fairly unlikely to be implemented, would require spinning database for traces as well as developing a p2p syncing protocol for those traces. I think that what we actually want to do is to have archive node footprint be minimal with state db redesign.

[2022-06-24 13:54] gituser commented on #4205
@LukaszRozmej is there any workaround in the configuration to let's say store last 30K states instead of running archive node, so last 30K blocks will be available for tracing?

`trace_filter` is essential feature in our blocks processing but we can't afford to run full archive node, on OpenEthereum it worked just fine with separate traces DB.

[2022-06-24 15:08] marcindsobczak commented on #4189
Thank you for feedback. We have not enabled SnapSync as a default mode yet because of some issues with post-merge sync, but at this point I think it's good idea to make this change. Merge TTD is not needed in the config - it's already hardcoded. I will create a PR with SnapSync as default and EthStats removed

[2022-06-24 16:37] quickchase commented on #4208
Chase from QuickNode here. Nethermind has the correct trace data, the output above is actually from OpenEthereum and this was my mistake. Very sorry.

[2022-06-24 16:44] LukaszRozmej opened #4210 "Standarize debug module"
Based on this: https://github.com/ethereum/execution-apis/pull/247

1.  Implement missing methods and change existing ones. debug_getBadBlocks is almost done here: #3838
2. Remove all non-readonly methods (move to admin?)
3. Expose all RPC modules by default through IPC and make IPC enabled by default.

[2022-06-24 16:59] jkylling commented on #4208
Thank you for clearing this up.

[2022-06-24 17:13] quickchase commented on #4208
Correction, this IS Nethermind. I got my nodes mixed up.

`Nethermind/v1.13.3-0-0e3289f55-20220624/X64-Linux/6.0.6`

[2022-06-27 08:22] LukaszRozmej opened #4214 "Investigate block producer base clearing environment"
Investigate if we don't have memory leak there. Potentially pass ReadOnlyTransactionEnvironmnent to BlockProducerBase directly to be able to clean it.

[2022-06-27 09:22] LukaszRozmej commented on #4127
We are currently working on a fix.

[2022-06-27 11:04] gituser commented on #4143
Not sure, but I think OE/parity only allowed tracing if you sync from scratch using Fast sync.
Also you had to specify `tracing: on` in database options before starting to sync in order to generate traces DB.

[2022-06-27 12:05] gituser commented on #4189
I'll close this issue as I was able to sync all blocks on Ropsten with Lighthouse CL.

[2022-06-27 12:05] #4189 closed

[2022-06-28 01:26] 73649 commented on #3743
It happened to me today. Nethermind version 1.13.3 Ubuntu 20.04 LTS, 64GB RAM. I attached log file hours before and after the crash/restart. [](url)
[mainnet.log](https://github.com/NethermindEth/nethermind/files/8996813/mainnet.log)

[2022-06-28 02:33] alexpeterson91 commented on #3743
My issue never went away. Still can take up all ram and CPU and crash docker. Even on overpowered machines.

[2022-06-28 09:55] LukaszRozmej commented on #3743
Hi @alexpeterson91

[2022-06-28 11:41] LukaszRozmej commented on #3849
@raymondjacobson sorry for late reply, was this resolved with a resync?
Otherwise we can  investigate - the order was changed for the merge as a workaround of some issues there, we can think if we can make it more sophisticated.

[2022-06-28 14:53] flcl42 opened #4221 "Bloom index is written to disk with problems on shutdown"
**Describe the bug**

Bloom index is flushed with problems on shutdown

**To Reproduce**
Steps to reproduce the behavior:
1. Start the client
2. Wait for a partial synchronization
3. Shutdown gracefully
4. See error:
[code]

**Expected behavior**

Bloom index is flushed without problems on shutdown

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version: master

[2022-06-29 14:14] LukaszRozmej commented on #4221
HeadersSyncFeed should be properly closed and stop writing blooms

[2022-06-29 23:37] threepwave opened #4228 "Syncing with beacon node repeatedly displays "Receipt not available" ethLogs error on ropsten"
**Describe the bug**
Syncing a new nethermind runner to Ropsten leads to a repeated error message about block 12269949.

Syncing appears to work fine but this error gets logged repeatedly:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install 1.13.4 from source
2. Start a sync w/ ropsten (e.g. `dotnet run -c Release --config ropsten --JsonRpc.JwtSecretFile=/home/threep/jwtsecret --

[2022-06-30 11:50] LukaszRozmej commented on #4133
This can be viewed as a part of https://github.com/NethermindEth/nethermind/issues/4210

[2022-07-01 08:02] attila-lendvai opened #4231 "logging attempts to write to /path-to-binary/../log/ ignoring --Init.LogDirectory /tmp"
**Describe the bug**

this is on Guix (a Linux), where `/gnu/store/...` is read-only:

[code]

**Expected behavior**

The logging subsystem only tries to write to what was specified in `--Init.LogDirectory`.

Please clarify how to proceed, either by updating the docs, or if this is not considered a bug, then by giving some guidance. Thank you!

[2022-07-01 08:34] tkstanczak commented on #4231
@AntiD2ta ?

[2022-07-02 08:54] krychla1 opened #4232 "Cant get through Gray Glacier fork"
Hi fellows!

**Describe the bug**
After months of running nethermind node it stuck a few blocks after Gray Glacier fork (client version 1.13.0).
![image](https://user-images.githubusercontent.com/33096727/176993475-d475e4d6-4f68-4277-a188-8fa7962d3589.png)

I upgraded client to 1.13.4, after unsuccessful restart attempts I quit, disposed the db and synced again. No success, I again and again face

[2022-07-02 08:58] tkstanczak commented on #4232
@krychla1 thank you for the report, we will be looking into it. Since all our nodes are fine after transition I would suggest you to double check if you are running the newest Gray Glacier version binaries (we have seen reports in the past where old binaries would still be launched because of some configs) / deployment location.

[2022-07-02 09:30] krychla1 commented on #4232
Thanks for quick feedback. Now I completely removed all the binaries and copied new instead of just replacing them like previously. Resync in progress, I will update you shortly.

[2022-07-02 09:42] LukaszRozmej commented on #4232
So the main change in the difficulty bomb was in the chainspec file (as is in most hardforks): https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/Chains/foundation.json

So maybe that didn't get updated?

Our nodes are fine, I am resyncing one for test purposes.

[2022-07-02 10:04] krychla1 commented on #4232
Seems guys, that this was the point. Thank you. 30minutes passed, no issues so far, I will get back and eventually close this one once I am fully synced again.

[2022-07-02 11:00] LukaszRozmej opened #4233 "PersistingTrie on shutdown has to be exclusive with block processing"
**Describe the bug**
If both run in parallel there can be an exception

[code]

[2022-07-02 19:31] krychla1 commented on #4232
I am fully synced again, thanks guys, you rock!

[2022-07-02 19:31] #4232 closed

[2022-07-04 15:06] elopio opened #4239 "remote Execution Client TerminalBlockHash and TerminalBlockNumber are inconsistent"
**Describe the bug**
I'm testing teku + nethermind + mev-boost in kiln following this guide:
https://github.com/flashbots/mev-boost/wiki/Testing

At the end, when everything is running, Teku logs this error:

[code]

I reported this on [teku](https://github.com/ConsenSys/teku/issues/5884), where they told me this is a configuration error in Nethermind. So are the parameters in the guide wrong? Whi

[2022-07-04 15:14] MarekM25 commented on #4239
Hi! :)

I think I fixed it some time ago. Are you using default kiln.cfg? Could you share your Nethermind config?. We shouldn't have Merge.TerminalBlockNumber set.

[2022-07-04 15:35] elopio commented on #4239
I'm starting it with:

[code]

So I guess that's the default kiln config. Let me know if there's more information I can share, I don't really know where to find it.

[2022-07-05 16:46] #3360 closed

[2022-07-05 17:21] attila-lendvai commented on #4231
if this is about logging in a very early phase of the startup, maybe that logger should only log to stderr?

[2022-07-05 19:15] #4196 closed

[2022-07-06 12:52] #4179 closed

[2022-07-06 14:39] #4127 closed

[2022-07-06 21:31] attila-lendvai commented on #4231
i'm not a CSharp expert, but the issue seems to be that here:

https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/Nethermind.Runner/Program.cs#L65

a general exception handler is installed that uses `GetCriticalLogger`, but it's too early in the startup, and here:

https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/Nethermind.Logging.NLog/NLogManager.cs#L56

[2022-07-07 11:37] LukaszRozmej opened #4251 "Add Support for restesteth"
Add support & integrate with: https://github.com/ethereum/retesteth for additional testing.

[2022-07-07 12:22] #4233 closed

[2022-07-07 14:55] LukaszRozmej commented on #4205
@gituser we will consider adding this, but nothing we can do short-term

[2022-07-08 04:46] elopio opened #4253 "stops running without any error indication in the logs"
**Describe the bug**
I'm running nethermind in ropsten from the kiln branch (which sounds weird but is what is suggested here: https://notes.ethereum.org/@launchpad/ropsten#Nethermind)

After a while, it just stops running. I cannot see any relevant information in the logs. If you tell me how to collect more information I can give it a try.

**To Reproduce**
Steps to reproduce the behavior:

Follo

[2022-07-08 07:10] MarekM25 commented on #4253
HI @elopio,

This tutorial is outdated https://notes.ethereum.org/@launchpad/ropsten#Nethermind !. We merged everything to master: I will remove kiln branch today and update tutorial. I think we should try at first from master, because we changed many things since that time.

[2022-07-08 08:49] MarekM25 commented on #3896
@nicexe we found one potential issue with our ethstats integration. It could be connected with your problem. We will release the fix soon

[2022-07-08 08:55] MarekM25 commented on #4239
@elopio I tried it on master and I can confirm that we don't have this message with teku:
2022-07-02 17:59:16.856 ERROR - Merge       *** Transition Configuration error: remote Execution Client TerminalBlockHash and TerminalBlockNumber are inconsistent
  remote configuration: TransitionConfiguration{terminalTotalDifficulty=0x000000000000000000000000000000000000000000000000000012309ce54000, termina

[2022-07-08 08:55] #4239 closed

[2022-07-08 13:03] elopio commented on #4253
Ok, I'll try with master. Master for both kiln and ropsten, right?

[2022-07-09 20:09] MarekM25 commented on #4253
yes, for both :) and for sepolia too

[2022-07-11 09:57] LukaszRozmej commented on #4000
Still there are warnings in test projects to be resolved:
Nethermind.Core.Test
Nethermind.JsonRpc.Test
Nethermind.Blockchain.Test
Nethermind.Merge.Plugin.Test
Nethermind.Synchronization.Test

[2022-07-11 10:37] LukaszRozmej opened #4266 "Embedd chainspecs as resources."
Chainspecs should be embedded in binaries. And allow being referenced by path (as now) and by name (embedded) from config files

[2022-07-11 12:22] LukaszRozmej commented on #3896
#4249

[2022-07-11 15:24] SpeakinTelnet opened #4268 "WebSocket subscription returns a confirmation but no subsequent data"
**Describe the bug**

When I make a webSocket subscription to my nethermind node I receive a confirmation that the subscription was properly registered but I don't receive any subsequent data.

**Versions**
 - OS:  Ubuntu 20.04 server
 - Nethermind Version : Nethermind/v1.13.4-0-3e5972c24-20220711/X64-Linux/6.0.6

**Relevent log and code**
Here's the RPC call I'm trying to make:
[code]
URL:  `ws:/

[2022-07-12 11:55] LukaszRozmej commented on #3508
Also try removing as much https://github.com/NethermindEth/nethermind/blob/1d2f21ba04d4fd14cada95479d57b8d368b70af7/src/Nethermind/Nethermind.Serialization.Rlp/Rlp.cs#L747 usages

[2022-07-12 15:23] iSOcH opened #4272 "Fee-recipient set in lighthouse VC is not used anymore"
**Describe the bug**
My validators on kiln use the nethermind node address as fee recipient instead of the value specified in lighthouse command line arguments.

This behavior changed when updating nethermind from 1.13.2 to 1.13.3 on 18.6.2022. Lighthouse (neither VC nor BN) were not updated at that time and are still on 2.3.1.

Addresses:
- `--suggested-fee-recipient`: https://explorer.kiln.theme

[2022-07-12 16:28] iSOcH commented on #4272
I now also tried to set `NETHERMIND_MERGECONFIG_FEERECIPIENT=0x0Dc8C6eab56a9568B2C5189a032140a1c5BDf928` as a workaround, but this also does not help.

[2022-07-12 21:42] MarekM25 commented on #4272
@iSOcH could you verify if this commit helps you: https://github.com/NethermindEth/nethermind/pull/4274 I can create docker or package with sources for you. Btw I removed this settings NETHERMIND_MERGECONFIG_FEERECIPIENT to not confuse users

[2022-07-12 21:58] deffrian opened #4275 "TrieException in BlockProcessor"
**Describe the bug**
Fully synced Goerli node fell out of sync. Now it fails with TrieException

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**
 - OS: [e.g. Windows]
 - Browser [e.

[2022-07-13 03:46] rickcain opened #4276 "Unable to deploy contracts on Gnosis"
**Describe the bug**
We are unable to deploy the curve pool contract on Gnosis chain, always got the error message `PermissionDenied, permission denied for tx type: Create, actual permissions: None` no matter using any deployer addresses.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and unzip the attached zip file: [permissionDeniedContract.zip](https://github.com/NethermindEth/n

[2022-07-13 08:31] iSOcH commented on #4272
Thanks. Ran into some issues initially, now waiting until I produce the next block.

Steps I took to build:
- clone the master branch
- nethermind using `dotnet publish -c Release --sc -r linux-x64 Nethermind.Runner`
- moved `Nethermind.Runner/bin/Release/net6.0/linux-x64` to another place (/home/nethermind/nethermind_built)
- updated my systemd .service file so it points to the binary from that p

[2022-07-13 13:12] rubo commented on #4268
@SpeakinTelnet We were unable to reproduce the issue on our end even with the configuration you provided. Is there anything else more specific we need to know? Are you able to constantly reproduce this issue?

[2022-07-13 14:15] SpeakinTelnet commented on #4268
Thank you for taking the time. I tried looking at why the node came out as unhealty but there wasn't much in the log except for  ``Could not find common ancestor with [HBR   ]`` which I couldn't find information on why it'd throw this error.

The node is currently running in a LXC container so I've cloned it and started it exactly as-is but on a new database and it seems to work. I receive the web

[2022-07-13 16:13] iSOcH commented on #4272
Yes, looks good. Thanks! For me the issue can be closed, don't know your workflow though.

Nethermind:
[code]

Lighthouse BN:
[code]

[2022-07-13 16:47] #4272 closed

[2022-07-13 20:13] #4133 closed

[2022-07-14 00:10] dan-gnosis commented on #4276
Tagging @alebanzas @Georgi87 @koeppelmann @igorbarinov into this issue

[2022-07-14 01:50] SpeakinTelnet commented on #4268
Ok so here's the end result in case someone ends up with a similar situation.

The database was definitely the culprit. It wasn't bad enough to make http calls unsuccessful neither did it cause any issue for my validators. It just threw off the websockets for some reason.

I've sync the db on another node, everything was working. I did an nfs mount to the first node with the new database and it wa

[2022-07-14 09:45] LukaszRozmej commented on #4276
Can you share more details about the deployment transaction, mainly: Sender address, Value, MaxFeePerGas, MaxPriorityFeePerGas, GasLimit, Data ?

Does the node you are using have  any custom local permissions set up? Or are you using standard gateway?

[2022-07-14 14:23] #4268 closed

[2022-07-15 08:45] itsfridaythen opened #4281 "nethermind 1.13.4 does not sync from other nodes, or produce any blocks on Venidium network"
**Describe the bug**
Up to nethermind version 1.13.3, peer-communication worked normally when syncing or producing blocks for archive or non-archive nodes. But on nethermind version 1.13.4, even though the node maintains connection to other peers, it does not import blocks from the connected peers.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone [venidium-evm-node](https://github.com/V

[2022-07-15 08:52] tkstanczak commented on #4281
@dceleda is it because of the switch in default sync mode to snap sync? Was it applied only to mainnet or to all the networks mistakenly?

[2022-07-15 09:03] dceleda commented on #4281
I think the configs are fine - only goerli and mainnet have been modified - but there were more changes to the multi sync selector.
https://github.com/NethermindEth/nethermind/pull/4172

@flcl42 could you investigate?

[2022-07-15 10:11] nicexe opened #4282 "trace_replayBlockTransactions method fails on archive node"
When calling `trace_replayBlockTransactions("0x8394F", ["trace"])`, nethermind throws an error.

This is on a local testnet and I'm calling the method like so:

[code]

and nethermind replies with:

[code]

Nethermind logs of this instance:

[code]

Those are the relevant environment variables set for nethermind:

[code]

[2022-07-15 10:33] deffrian opened #4283 "Make proper formating of AggregateException in DnsClient"
**Describe the solution you'd like**
Exception in DnsClient should be a warning and have nice log message

**Additional context**
This exception happens on sepolia.

Exception:
[dns_exception.log](https://github.com/NethermindEth/nethermind/files/9120091/dns_exception.log)

[2022-07-15 11:33] nicexe commented on #4282
I tried an older and an earlier block and both worked.

for block 0x01

[code]

[code]

for block 0x95B76

[code]

[code]

[2022-07-15 11:34] dceleda commented on #4283
Should be fixed in:
https://github.com/NethermindEth/nethermind/issues/3801
But was not.

[2022-07-15 11:35] dceleda commented on #4283
Related to:
https://github.com/NethermindEth/nethermind/pull/3705

[2022-07-15 12:02] MeganerdNL opened #4284 "Multiple errors: Request timeout in GetReceiptsMessage"
In my log on my fully synced node on mainet the following error is reported multiple times per minute:

[code]

The IP's reported here are everytime different.
Node seems, apart from these errors, fine and stays in sync.

This is on Denian Linux 11
It is running DAppNode with Nethermind 1.13.4
Plenty or memory left and fast SSD with enough space with a gen 11 i5 intel cpu.

Is this a bug or someth

[2022-07-15 12:36] MarekM25 commented on #4284
It is normal thing and just bad logging. We increased the log in the 1.13.4 release. On master, we don't log it by default again, so in next release you shouldn't see this log.

[2022-07-15 12:36] #4284 closed

[2022-07-15 16:12] flcl42 commented on #4281
@itsfridaythen Thanks for a such well described issue!

We've introduced an unexpected breaking change in 1.13.4:
In case you do not use your own configuration file, mainnet.cfg settings are used by default and since the update SnapSync is enabled by default for the mainnet configuration, which means it's enabled for your network too.

To fix it for now you can explicitly disable SnapSync by appen

[2022-07-17 11:16] #4275 closed

[2022-07-17 19:17] dceleda commented on #4281
@itsfridaythen does the proposed config change fixes your issue?

[2022-07-17 21:00] MarekM25 commented on #4282
HI @nicexe,

Unfortunately, you will need to try resync your node if you want these traces.

Could you try resync your node with --Pruning.Mode None? We changed our default settings for pruning which shouldn't be used for archive node. Of course, we updated all our supported network. However, it is missing custom networks.

[2022-07-18 07:51] #4282 closed

[2022-07-18 08:25] dceleda opened #4289 "Don't make mainnet.cfg the default"
**Describe the bug**
We've introduced an unexpected breaking change in 1.13.4:
In case you do not use your own configuration file, _mainnet.cfg_ settings are used by default and since the update, SnapSync is enabled by default for the mainnet configuration, which means it's enabled for your node too.
It will cause a problem in networks without SnapSync supporting nodes.

**Expected behavior**
Node

[2022-07-18 08:26] dceleda commented on #4281
Agree. We should change that behavior.
https://github.com/NethermindEth/nethermind/issues/4289

[2022-07-18 08:26] #4281 closed

[2022-07-18 08:38] dceleda commented on #4289
Maybe we should introduce a default.cfg based on the mainnet.cfg just not to break current behavior?

[2022-07-18 09:00] MarekM25 commented on #4289
The similar problem: https://github.com/NethermindEth/nethermind/issues/4282

[2022-07-18 09:24] dceleda commented on #4266
@LukaszRozmej could say more about the rationale?
It's always good to add them to an issue.

[2022-07-18 09:52] dceleda commented on #1939
@tkstanczak @LukaszRozmej
Any description of what needs to be done here?

[2022-07-18 10:45] gituser commented on #4205
@LukaszRozmej this is quite crucial feature stopping us from switching completely from OpenEthereum to Nethermind.

I think many other users are having similar issue, cause there are many relying on `trace_filter` functionality on pruned node.

How hard it will be to implement this?

Thanks.

[2022-07-19 05:36] MarekM25 commented on #4253
@elopio I'm closing it, because it was running on wrong-very old branch. If you notice any issues feel free to reopen/create a new issue

[2022-07-19 05:36] #4253 closed

[2022-07-20 14:52] elopio commented on #4253
I've been running the master branch since last night and no error has appeared.

[2022-07-20 14:53] elopio commented on #4239
I'm testing again with teku using the latest commits on both, and this is not happening anymore.

[2022-07-21 11:54] Uxio0 commented on #4127
Hi @LukaszRozmej , are you releasing a new version with this fix?

[2022-07-22 12:57] mandrigin opened #4305 "Nethermind ignores --datadir for keys"
**Describe the bug**
I run the latest `nethermindeth/hive:latest` and it for some reason needs to write files into the /nethermind/Nethermind folder

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run Nethermind in the container with `--datadir  /data/nethermind`
2. Let it start.
3. `exec` into container, and cd `/nethermind/Nethermind` and you will see
[code]

**Expected behavior**

[2022-07-22 12:58] mandrigin commented on #4305
I found it because I don't run processes as `root` and I got the following error

[code]

`Setting KeyStoreDirectory to: /data/nethermind/keystore, from: keystore` and then `System.UnauthorizedAccessException: Access to the path '/nethermind/Nethermind’`
...

[2022-07-22 19:26] vyzaldysanchez opened #4307 "Nethermind failing to provide ERC20 token balance"
**Describe the bug**
As RPC client consumer, I expect Nethermind properly return the balance of an ERC20 token for an specific address, as go-ethereum does. It appears to not do this.

**To Reproduce**
Steps to reproduce the behavior:

[code]

It is responding with the following:

[code]

**Expected behavior**
It should properly return the available balance of the ERC20 token for the address.

**S

[2022-07-23 10:10] yorickdowne opened #4309 "Feature: Support `gnosis` as alias for `xdai`"
**Is your feature request related to a problem? Please describe.**

With a merge-ready setup, the CL and EL network names are the same on Ethereum. For GBC, I need to special-case to supply `xdai` to Nethermind instead.

**Describe the solution you'd like**

It'd be helpful to have `--config=gnosis` as an option alongside `--config=xdai`

[2022-07-25 12:34] rickcain commented on #4276
@igorbarinov
https://etherscan.io/address/0x5dbdd037e6f10fef42cac6d9129588fd49e2c0d9
https://bscscan.com/address/0x426223eef2e4f577767533aa1854E8b980b1Df5F

[2022-07-25 17:13] rubo commented on #4307
We couldn't reproduce the issue. For further investigation, could you please provide the Nethermind version, the network (chain) you're trying on, and if possible, the exact request causing the error.

[2022-07-25 17:25] rubo opened #4314 "Migrate to System.Text.Json"
Consider migrating from `Newtonsoft.Json` to `System.Text.Json`.

See [devblogs.microsoft.com/dotnet/system-text-json-in-dotnet-7](https://devblogs.microsoft.com/dotnet/system-text-json-in-dotnet-7/)

[2022-07-25 20:09] vyzaldysanchez commented on #4307
@rubo thanks for taking a look, this is the specific request/call I'm trying to perform:

[code]

This is resulting in the error described in the previously provided details.

[2022-07-25 20:16] vyzaldysanchez commented on #4307
@rubo as for the Nethermind version:

[code]
Resulting in:

[code]

I believe this is a really recent version, around 4 days old.

[2022-07-25 21:36] rubo commented on #4307
For balance, Nethermind reports `0x0000000000000000000000000000000000000000000000000000000000000000` with the request parameters you provided.

You're using the previous version while the latest one is 1.13.4. Nevertheless, we couldn't reproduce the problem on either of them. Also, the version string should contain today's timestamp (if you've run `web3_clientVersion` today, of course). That's wei

[2022-07-25 21:59] rubo opened #4316 "Fix the timestamp in the version string"
**Describe the bug**
The version string shows the current date instead of the commit date. Thus, it shows a different version string each day (if restarted).

**To Reproduce**
Run Nethermind with the `--version` option.

**Expected behavior**
The version string must be the same for a given version regardless of the date.

**Screenshots**
![image](https://user-images.githubusercontent.com/337518/18

[2022-07-25 22:40] jmank88 commented on #4307
This is incorrect. The `web3_clientVersion` method reports client _build_ information. `v1.13.3-0-0e3289f55-20220721` is the full git tag for the official 1.13.3 release: https://github.com/NethermindEth/nethermind/releases/tag/1.13.3

[2022-07-25 22:45] rubo commented on #4307
@jmank88 Then where the `20220721` comes from? It should be `20220615` according to the release notes.

[2022-07-25 22:52] jmank88 commented on #4307
Is July 21st not the date it was built?

[2022-07-25 22:54] rubo commented on #4307
@jmank88 The build date of the v1.13.3 is June 15, 2022.

[2022-07-25 23:13] jmank88 commented on #4307
I meant the day the binary was built by compiling the v1.13.13 from source. Regardless, I am now suspecting it is the day the binary was _launched_. Is the [ClientVersion class](https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/Nethermind.Core/ClientVersion.cs) a singleton that effectively caches the date in the `_date` variable?

[2022-07-25 23:20] rubo commented on #4307
@jmank88 Sort of. In this case, I presume the timestamp shows the node's last start date. See the #4316.

[2022-07-26 15:28] dceleda opened #4319 "Nethermind periodically responds to sendRawTransaction with "fee too low""
Raised by @MicahZoltu on Discord:
_Nethermind periodically responds to sendRawTransaction with "fee too low" when my fee is way above what should be necessary.
100 max fee, 1 priority fee.  If I submit again afterwards it will usually go through.
It happens fairly reliably, almost every transaction fails with "fee too low" first, then succeeds by just submitting it again._

[2022-07-26 18:37] rubo opened #4321 "Make node discovery configurable"
Currently, there's no way to configure the ENR tree lookup. It's hardcoded. There's should be an option like [the one](https://geth.ethereum.org/docs/developers/dns-discovery-setup) of Geth.

Requested on Discord:

So after we have a signed txt record and compiled a list of nodes, how and where should we configure the domain name?
I mean, there should be a place in our configuration that points to

[2022-07-27 16:38] rubo opened #4323 "Implement eth_coinbase method"
Implement the `eth_coinbase` method. Currently, it returns zero.

[2022-07-27 19:16] dceleda opened #4324 "Snap Healing"
Introduce handling of Snap-specific methods - **GetTrieNodes** (0x06) and **GetByteCodes**  (0x04) - to healing and fast sync.
Soon Geth will decommission old GetNodeData (eth protocol).

[2022-07-27 20:21] #4228 closed

[2022-07-28 09:53] flcl42 opened #4325 "Shutdown with warning when disk space is low"
**Is your feature request related to a problem? Please describe.**
The database grows in size constantly when the client runs, it may lead to the situation when there is no more space on device
The client still tries to save the data, which results in data saving errors and possible database inconsistency

**Describe the solution you'd like**
To prevent from database issues that may appear when mo

[2022-07-28 10:49] tanishqjasoria commented on #4319
I was not able to reproduce this issue on my local Goerli node.
Can you share what is the accompanying message when you get "fee too low" error @MicahZoltu ?

[2022-07-28 11:00] MicahZoltu commented on #4319
I am now running with tracing enabled every time a fee too low transaction shows up.  Unfortunately, I haven't been doing a lot of transactions lately so I haven't had an opportunity to grab the error (it goes away for a while after a node restart).  As soon as it happens again I'll post the extra log details here.

[2022-07-28 15:28] ytrezq opened #4328 "Please provide aarch64 Windows binaries!"
Everything is in the title. Of course, as it is [normally impossible to run `.exe` compiled for arm as it is a Microsoft privilege](https://www.computerworld.com/article/2494493/hacker-finds-way-to-run-desktop-applications-on-windows-rt.html). This means publishing an official app on the Windows store.

An alternative is to do like most projects does by request users to rely on an unpatched Window

[2022-07-29 10:33] MaxTeiger opened #4332 "Nethermind (Sokol Archive) stop syncing after reaching block"
**Describe the bug**
Nethermind (Sokol Archive) stop syncing after reaching block 21774274.

I set up a Sokol Archive node with nethermind, everything went well till the sync reached the block 21774274. Then only the following logs (see below) are displayed and nothing more is fetched from the BC.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch nethermind/nethermind with docker with t

[2022-07-29 10:44] tkstanczak commented on #4332
Thanks @MaxTeiger -> @cbermudez97 will look at running Sokol smoke tests and will recommend you the best course of action (but he will only be online in around 3 hours).

[2022-07-29 11:41] MaxTeiger commented on #4332
Thank you very much 🙇🏼‍♂️

[2022-07-29 16:14] cbermudez97 commented on #4332
Hi @MaxTeiger, thanks for the report. I'm running a node to see if I can reproduce your error with the config you shared. Still, can you share the docker command you used?

[2022-07-29 17:35] cbermudez97 commented on #4332
One thing I have noticed its that the node struggles to find peers in Sokol. At least for me. Are you using bootnodes? I don't see those in your configs. Maybe also add some public archive nodes to the [StaticPeers](https://docs.nethermind.io/nethermind/ethereum-client/configuration/network) Network config.

[2022-07-29 17:57] gelleson opened #4334 "Slow syncing of testnet"
**Describe the bug**
The Sokol tenet full is syncing too slowly. I deployed 20 days ago but it is still syncing

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy and wait
**Expected behavior**
I thought is no need for a lot of time to sync

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Docker

[2022-07-30 19:45] dceleda opened #4335 "Improve error msg when port is not available"
Very often when a default port (30303) is not available, for example, because another instance is running, we got a SocketException saying that "address already in use".
We could improve that message for a user by adding smth like:
"Please make sure that you're not running other applications on port {port}. Check your Network.DiscoveryPort and Network.P2PPort in configuration"

[2022-07-31 06:40] 9gl commented on #4335
Hey @dceleda  ,
I'm interested in contributing to this issue, so before I start working on it, would you mind sparing your time explaining what the issue is about and pointing me to some resources to get started.

[2022-07-31 16:59] dceleda opened #4338 "Upgrade RocksDB to the latest version"
We still use an old version of RocksDB because previous attempts to upgrade it ended up with performance degradation mostly observable during fast sync (state sync).
In release 1.13.5 we accidentally upgraded to some newer version and to avoid potential issues we implemented a workaround here:
https://github.com/NethermindEth/nethermind/pull/4333

What we would like to do is:
- upgrade RocksDB to

[2022-08-01 09:28] LukaszRozmej opened #4342 "Support ENR discovery requests"
Add support for ENRRequest and ENRResponse, review and potentially enhance usage of ENR in discovery protocol.

Docs: https://github.com/ethereum/devp2p/blob/master/discv4.md

[2022-08-01 09:38] MarekM25 opened #4343 "Metrics.Enabled with no PushGatewayUrl"
It seems that users are using metrics without PushGateway: https://discord.com/channels/629004402170134531/629004402170134537/1003596635235954779

and they're receiving error message
![image](https://user-images.githubusercontent.com/9356351/182119968-bd5d136a-c9d6-494c-8abc-4bde22995f5f.png)

Connected issue: https://github.com/NethermindEth/nethermind/issues/3475

Let's think about better UX (be

[2022-08-01 09:49] MarekM25 opened #4344 "Disk space requirements - better docs"
Outdated info: https://docs.nethermind.io/nethermind/ethereum-client/sync-modes

Better info: https://docs.nethermind.io/nethermind/first-steps-with-nethermind/hardware-requirements

It will be good to add expected chain growth speed.

[2022-08-01 14:54] MarekM25 commented on #4344
Add hardware requirements for full pruning

[2022-08-01 17:16] dceleda commented on #4335
@rubo could you help @9gl ?

[2022-08-01 18:53] 9gl commented on #4335
@dceleda or @rubo Could you point me to the file to get started?

[2022-08-01 19:31] rubo commented on #4335
@9gl Please see [RlpxHost.cs](https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/Nethermind.Network/Rlpx/RlpxHost.cs)

[2022-08-02 06:50] MarekM25 opened #4347 "PPA isn't updating after release"
Lots of users reported that they don't see the latest version of Nethermind in PPA.

[2022-08-02 06:55] MarekM25 commented on #4347
And there is confusion about docs

Don't see location for logs for PPA in documentation -> /usr/share/nethermind
https://docs.nethermind.io/nethermind/ethereum-client/logging-configuration

If I install a new version of the PPA, will the config files be deleted? -> probably the configs from /usr/share will be replaced

[2022-08-02 07:16] MarekM25 opened #4348 "Too many blocks processed after restart"
![image](https://user-images.githubusercontent.com/9356351/182314713-f5ccc7be-ace8-453f-b718-a9b8c7858caf.png)

We're probably not saving BestPersistatedState when we're closing application.

[2022-08-02 07:18] MarekM25 opened #4349 "RocksDbSharp.RocksDbException: IO error: While pread offset ... - potential problem with the new RocksDb"
eth1_1        | 2022-08-01 21:30:53.9877|Processing loop threw an exception. Block: Nethermind.Consensus.Processing.BlockRef, Exception: RocksDbSharp.RocksDbException: IO error: While pread offset 31518720 len 4064: /ethclient/nethermind/nethermind_db/mainnet/receipts/121348.sst: Input/output error
eth1_1        |    at RocksDbSharp.Native.rocksdb_put(IntPtr db, IntPtr writeOptions, Byte[] key, In

[2022-08-02 09:09] iSOcH commented on #4347
can we please package the deb in a way to allow "deterministic" installations or would this need another issue?

this really should not mismatch:
[code]

whereas:
[code]

[2022-08-02 11:13] dceleda commented on #4349
I think it's a rocksdb bug (version included in 1.13.5):
https://github.com/facebook/rocksdb/issues/9220
Fixed here:
https://github.com/facebook/rocksdb/pull/9263

[2022-08-03 07:53] MarekM25 commented on #4305
User reported something similar on discord:

Aug 03 16:07:46 de1 systemd[1]: Started Nethermind Ethereum Client.
Aug 03 16:07:46 de1 Nethermind.Runner[19626]: 2022-08-03 16-07-46.4190|Nethermind starting initialization.
Aug 03 16:07:46 de1 Nethermind.Runner[19626]: 2022-08-03 16-07-46.4614|Loading embedded plugins
Aug 03 16:07:46 de1 Nethermind.Runner[19626]: 2022-08-03 16-07-46.4617|  Found plugi

[2022-08-03 13:58] xtc0r commented on #4347
I installed Nethermind 1.13.4.0  via PPA. Two days later 1.13.5.0 came out and I performed
`apt update && apt upgrade`
I saw that 1.13.5.0 was downloaded.
But `nethermind --version` gives me `Nethermind/v1.13.4-0-3e5972c24-20220803/X64-Linux/6.0.6`. Also `cat /usr/share/nethermind/git-hash` gives me `1.13.4-0-g3e5972c24`.

But `sudo apt list nethermind` give me `nethermind/focal,now 1.1350 amd64

[2022-08-03 15:45] smartprogrammer93 commented on #4347
@xtc0r Please create a new Issue about this.

[2022-08-03 17:18] xtc0r opened #4357 "PPA says it's up to date but nethermind is still an older version"
Created a new issue as requested by @smartprogrammer93 in #4347

**Describe the bug**

I installed Nethermind 1.13.4.0  via PPA. Two days later 1.13.5.0 came out and I performed
`apt update && apt upgrade`
I saw that 1.13.5.0 was downloaded.
But `nethermind --version` gives me `Nethermind/v1.13.4-0-3e5972c24-20220803/X64-Linux/6.0.6`. Also `cat /usr/share/nethermind/git-hash` gives me `1.13.4-0-g3

[2022-08-03 18:30] smartprogrammer93 commented on #4344
@MarekM25  Do we know the requirements?

[2022-08-03 19:20] vyzaldysanchez commented on #4307
Hi again @rubo,

We spun up a a couple of nodes on our side and we are still running into this issue, we would like some help debugging what could be wrong in our setup, if anything.

You can definitely reproduce the issue by using the following endpoints:

[code]

The call to perform is:

[code]

[2022-08-03 19:27] vyzaldysanchez commented on #4307
We have two independently hosted instances that reproduce this bug and can share them.

[2022-08-03 20:46] tkstanczak commented on #4307
Strange, the message suggests that the gas limit is set too low. Can you explicitly try setting it to 2 million or sth and check if that works?

[2022-08-03 20:49] rubo commented on #4307
Their config has `JsonRpc.GasCap` set to `0`

[2022-08-03 21:12] #4307 closed

[2022-08-03 22:38] vyzaldysanchez opened #4360 "Question: `JsonRpc.GasCap` behaves differently from Geth's `rpc.gascap`"
As a result of [this issue](https://github.com/NethermindEth/nethermind/issues/4307) we were told that setting `--JsonRpc.GasCap 0` is problematic.

We see on the Geth documentation for [`rpc.gascap`](https://geth.ethereum.org/docs/interface/command-line-options) that it `sets a cap on gas that can be used in eth_call/estimateGas (0=infinite) (default: 50000000)`.

Why would the behavior for this

[2022-08-04 09:46] marcindsobczak opened #4361 "Add optional argument `Address` in parity_pendingTransactions"
In rpc method:
https://docs.nethermind.io/nethermind/ethereum-client/json-rpc/parity#parity_pendingtransactions

Will be nice to add optional argument `Address` to let users opportunity to ask about txs from specific address only.

If optional argument `Address` will not be null, there will be a need to filter txs by this address inside `Where`
https://github.com/NethermindEth/nethermind/blob/mast

[2022-08-04 11:51] MarekM25 opened #4363 "Github CI is not running tests."
![image](https://user-images.githubusercontent.com/9356351/182834247-bf6b506e-064d-40cf-8e50-719206725565.png)

Only first step - build is green. The rest of actions will never be finished.

[2022-08-04 11:51] MarekM25 commented on #4363
Example: https://github.com/NethermindEth/nethermind/pull/4337

[2022-08-04 13:02] LukaszRozmej commented on #4363
It is blocked by another run

[2022-08-04 15:13] #4363 closed

[2022-08-05 02:51] ev9173 opened #4367 "Error "A suitable constructor for type 'Nethermind.HealthChecks.NodeHealthCheck' could not be located""
**Describe the bug**
v1.13.5 suddenly got an error and lost all peers:
"Connection id "0HMJLQ4BBHOBG", Request id "0HMJLQ4BBHOBG:00000015": An unhandled exception was thrown by the application. System.InvalidOperationException: A suitable constructor for type 'Nethermind.HealthChecks.NodeHealthCheck' could not be located. Ensure the type is concrete and all parameters of a public constructor are e

[2022-08-05 06:23] #4360 closed

[2022-08-05 06:23] LukaszRozmej commented on #4360
Hi @vyzaldysanchez we merged the fix will be in next release

[2022-08-05 06:29] LukaszRozmej commented on #4357
possible duplicate of #4347

[2022-08-05 06:39] smartprogrammer93 commented on #4357
@LukaszRozmej That is my mistake. Since that issue had the docs work, i asked the author to create a seperate issue thinking i can close that one. Then i realized that the issue is mainly about the version not the docs.

[2022-08-05 06:39] #4357 closed

[2022-08-05 07:59] MarekM25 opened #4368 "Docs - How to configure via file, environment and CLI in all cases"
Feedback from @MicahZoltu.
https://docs.nethermind.io/nethermind/ethereum-client/json-rpc
Feature Request: When the docs site shows a configuration option (like ☝️), it should have tabs for how to configure via file, environment, and cli in all cases.  At the moment it is a mix and match and environment config is often missing

[2022-08-05 13:08] alien111 opened #4372 "Getting the whole storage tree for contract"
**Is your feature request related to a problem? Please describe.**
Nethermind’s state tree dump function does not provide storage KV-pairs for the contracts.

**Describe the solution you'd like**
Storing separate storage trees for every contract.

**Describe alternatives you've considered**
Providing an ability to retrieve the actual key(in terms of EVM calling) for the value in the storage tree.

[2022-08-05 13:27] MarekM25 commented on #4344
No, the goal of this task is to test and prepare correct values for users

[2022-08-05 14:52] vyzaldysanchez commented on #4360
Hi @LukaszRozmej, do you have a timeline on when is this release going out?

[2022-08-06 16:11] rubo commented on #4360
@vyzaldysanchez Although we don't have a confirmed deadline for the upcoming release, we expect it (either stable or unstable) next week if everything goes as planned.

[2022-08-07 15:43] Mohiiit commented on #4361
Hey, I would like to contribute. Can you provide me with some resources to get started?

[2022-08-07 19:47] dceleda opened #4377 "Get rid of ToArray from TreeSync"
Maybe instead of allocating a new array in _TreeSync.PrepareRequest_ we could pass the existing collection?

`StateSyncItem[] requestedNodes = requestHashes.ToArray();`

[2022-08-07 19:50] dceleda opened #4378 "Investigate Snap Sync performance degradation"
There is a slight performance degradation between version 1.13.0 and 1.13.3. At least from between the test I run in May and now. Currently I'm not able to sync version 1.13.0 with mainnet. To do it we would probably have to cherry-pick some breaking changes.
I have access to 2 VMs - I call them Slow and Fast.
In **May** I was able to Snap Sync mainnet in **3h on the Slow** one and **2h on the Fas

[2022-08-08 00:01] LukaszRozmej commented on #4377
It's even worse on dispatch: https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/Nethermind.Synchronization/StateSync/StateSyncDispatcher.cs#L38

[2022-08-08 08:25] MaxTeiger commented on #4332
Hello @cbermudez97  ! Sorry for the delay.

I tried using bootnode and without. It didn't fix my problem.
[code]

I launched the container using `docker-compose`. Here is the repository w/ which I launched the node : https://github.com/MaxTeiger/node-setup

And the command I used was `docker-compose -f docker-compose.poasokol-archive.yml up -d `

[2022-08-08 11:23] #4348 closed

[2022-08-08 15:03] samsondav opened #4384 "`eth_getLogs` returns bogus results that are different every time"
**Describe the bug**
`eth_getLogs` returns wrong results

**To Reproduce**

`curl -v --data '{"method":"eth_getLogs","id":"1","params":[{"blockhash": "0x892a8b3ccc78359e059e67ec44c83bfed496721d48c2d1dd929d6e4cd6559d35"}],"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST http://goerli-nethermind-rpc.example`

It returns totally wrong results, including logs from a different blockhash th

[2022-08-08 15:30] samsondav commented on #4319
This is a blocker for Chainlink to run on Nethermind

[2022-08-08 16:34] marcindsobczak commented on #4319
These logs will be extremely helpful. It's very hard to reproduce

[2022-08-08 16:40] marcindsobczak opened #4385 "Add documentation to the details of connected peers"
We don't have it in docs:
![peers](https://user-images.githubusercontent.com/77129288/183461780-4ff45512-d7f0-4605-b31e-5402d1a626ec.PNG)

[2022-08-08 18:05] rubo commented on #4384
Currently, the `blockhash` parameter is not supported. While the fix is on the way, you can use the pair of `fromBlock` and `toBlock` instead (if that's an option) as follows:

[code]
@samsondav What version of Geth are you comparing to?

[2022-08-08 18:52] sjmini opened #4386 "estimateGas web3 API"
**Describe the bug**

Below estimateGas Web3 API call produces "gas limit below intrinsic gas" error.
Is this expected behavior from the nethermind node?

**_web3.eth.estimateGas({ from: aa0, nonce: aa1, to: aa2, gas: 500, gasPrice: "20000000000", type: "0x0" });_**

**Expected behavior**
Different clients such as geth produce "21000" output.

**Desktop (please complete the following information):

[2022-08-08 19:05] LukaszRozmej commented on #4384
Hi @samsondav and @prashantkumar1982 I see we never implemented https://github.com/ethereum/EIPs/blob/master/EIPS/eip-234.md So we don't support `blockhash`. The only block limits we currently support is `fromBlock` and `toBlock`. If you don't supply anything there those default to `latest` hence the changing behaviour.

Currently you can just use `fromBlock` and `toBlock` with both number as well

[2022-08-08 19:17] prashantkumar1982 commented on #4384
Feature Parity will be definitely appreciated!

Trying to have custom code for nethermind is hard to maintain, as then we need to configure our Nodes to know which client it is using, and based on that, which code logic should be used.

We already are dealing with mutilple eth clients, eth RPC providers, other EVM chains.
Any custom logic can cause nightmare around our testing matrix, and general

[2022-08-08 19:36] LukaszRozmej commented on #4384
@prashantkumar1982 sure just reassuring its simple API mismatch rather than some serious bug in the inner mechanism.

[2022-08-08 21:24] prashantkumar1982 commented on #4384
Thanks. I understand it is not a major bug in nethermind implementation.

We were planning to test all Chainlink services running on nethermind client during Goerli Merge. But it seems like this bug will prevent testing during the Goerli merge, since that is just 2 days away.
However once you release a build with the fix, we will test it for mainnet, and hopefully be ready for Eth mainnet before t

[2022-08-08 23:50] rubo commented on #4384
I noticed some inconsistencies with the parameter casing. In the case of Geth, it ignores casing when running locally, while on Alchemy, only `blockHash` is accepted. Infura [docs](https://docs.infura.io/infura/networks/ethereum/json-rpc-methods/eth_getlogs#request-params) states `blockhash`. So does [QiuckNode](https://www.quicknode.com/docs/ethereum/eth_getLogs). In its [code](https://github.com

[2022-08-09 01:29] JosephK95 opened #4388 "Nethermind RPC service consistency against other client implementations #1"
(Updated 22.08.11.)

Sorry, I moved this report to the following link: https://github.com/ethereum/execution-apis/issues/286
Please check for the edit history to see my original report.

[2022-08-09 07:22] MaxTeiger commented on #4332
Do you know where I can find some public archive nodes for Sokol ? (in order to try `StaticPeers` Network config)

[2022-08-09 08:46] LukaszRozmej commented on #4385
Maybe add headers row for this table in logs?

[2022-08-09 09:28] JosephK95 opened #4389 "Nethermind RPC service consistency against other client implementations #2"
(Updated 22.08.11.)

Sorry, I moved this report to the following link: https://github.com/ethereum/execution-apis/issues/288
Please check for the edit history to see my original report.

[2022-08-09 11:40] UCT10 commented on #4305
I found out -w key should be used.
I've successfully mounted backup with

`sudo docker run -d --name eth -p 30333:30333 -p 9545:9545 --ulimit nofile=1000000:1000000 -v ~/nethermind/:/nethermind/data:Z -w /nethermind -it nethermind/nethermind:latest --Network.DiscoveryPort 30333 --Network.P2PPort 30333 --Sync.FastSync true --Sync.SnapSync true --Init.WebSocketsEnabled true --JsonRpc.Enabled true --

[2022-08-09 12:20] ghost opened #4391 "Nethermind appears synced but eth.getBlock('latest') returns an old block"
**Describe the bug**
My mainnet node seems to be working fine, but calling `eth.getBlock('latest')` returns an old block
![nethermind](https://user-images.githubusercontent.com/67484816/183644078-ccead17b-5329-4a39-aee2-cd67ccaaf069.png)

Looking through the logs around block `15304812` nethermind complained that:

`2022-08-09 02:02:22.8626|100% of nodes did not respond to a Ping message - 50/50`

[2022-08-09 12:40] aascft3 commented on #4391
Meanwhile `eth.getBlock('latest')` is returning the correct block again. Looking at the log I am realizing that Nethermind was reporting that a new block was discovered, but not that it was processed. Nethermind only started processing the blocks again 8.5 hours later.
[nethermind_continued.log](https://github.com/NethermindEth/nethermind/files/9290448/nethermind_continued.log)

[2022-08-09 15:59] sjmini opened #4394 "getProof api calculates wrong proof and value"
**Describe the bug**
When calling getProof (attached test case), nethermind produces the following output, where the value is 0x00, and
the second element of proof is "0x". (We believe these are the wrong outputs)

        "storageProof": [
            {
                "key": "0x02",
                "proof": ["0xf8718080a05dce1b049e5a53760dd9b592e8837c6e6e74ef29af8ffd3ec7020220b75da5d880a0cd45725

[2022-08-09 16:10] sjmini opened #4395 "Incorrect gas value"
**Describe the bug**
It seems that the Nethermind node sometimes estimates incorrect gas values.
When we execute the attached test case, the node produces 45811.
We think that the correct output is 43511.

**To Reproduce**
Steps to reproduce the behavior:
1. Download test files
[test_cases.zip](https://github.com/NethermindEth/nethermind/files/9292786/test_cases.zip)

2. Run the node with the foll

[2022-08-09 16:31] sjmini opened #4396 "totalDifficulty is 0"
**Describe the bug**
When we execute the attached test case, the output states that the **totalDifficulty** is "0", which seems an incorrect value.

**To Reproduce**
Steps to reproduce the behavior:
1. Download test files
[test_cases.zip](https://github.com/NethermindEth/nethermind/files/9292922/test_cases.zip)

2. Run the node with the following command
    Nethermind.Runner --config ./test_cases

[2022-08-10 01:14] knocte commented on #88
Sorry to hijack this bug, but can Nethermind run as an ETC node?

[2022-08-10 01:25] paulhauner commented on #4039
I don't have a concrete solution but I would kindly and humbly suggest using static linking for the rocks dependency.

[2022-08-10 01:49] paulhauner commented on #4343
Our setup has Prometheus scraping metrics from Nethermind, rather than Nethermind pushing metrics (as per the issue description).

I've adopted this configuration:

[code]

My understanding is that `NETHERMIND_METRICSCONFIG_ENABLED` must be set to `true` so that `NETHERMIND_METRICSCONFIG_EXPOSEPORT` has an effect.

This workaround means the error is shown at boot and then once every 24 days.

Sinc

[2022-08-10 01:51] JosephK95 commented on #4388
any comments?

[2022-08-10 05:36] mcdee commented on #4039
Note I raised https://github.com/curiosity-ai/rocksdb-sharp/issues/26 for this, but haven't heard anything.

[2022-08-10 06:44] JosephK95 commented on #4388
any comments?

[2022-08-10 13:04] kkokosa opened #4403 "Enhance .NET-related monitoring with more counters"
Currently if metrics are enabled, *Nethermind.Runner* exposes only some .NET runtime-related data, where only two are GC-related: `dotnet_total_memory_bytes` and `dotnet_collection_count_total`. This is because [the default prometheus-net .NET stats exporter](https://github.com/prometheus-net/prometheus-net/blob/master/Prometheus.NetStandard/DotNetStats.cs). And it does so by utilizing some APIs l

[2022-08-10 14:15] #4384 closed

[2022-08-10 15:15] attila-lendvai commented on #4231
sorry for pinging this issue... but it would help me a lot if i got at least some general feedback on what to expect.

that way i could either start working towards a workaround on my side, or wait for a fix upstream.

[2022-08-10 18:18] #4385 closed

[2022-08-10 21:14] gituser commented on #4205
Any update on this or maybe there is some other mechanism to check for ERC-20 transfers or internal ETH transactions besides using tracing?

[2022-08-11 12:17] naddison36 opened #4410 "trace_transaction includes extra calls in result"
**Describe the bug**

`trace_transaction` of mainnet transaction [0xc21820596ea093f26f7afcbb114883c8fb31f7521d8bc2ff9c7c7ebe60fb7ea6](https://etherscan.io/tx/0xc21820596ea093f26f7afcbb114883c8fb31f7521d8bc2ff9c7c7ebe60fb7ea6) adds extra calls when comparing the results from `trace_replayTransaction`.

The second object in the `trace_transaction` results is a call to `0x0000000000000000000000000000

[2022-08-11 12:55] naddison36 commented on #4410
It looks like the extra calls are to the precompiled `0x0000000000000000000000000000000000000004` contract  https://www.evm.codes/precompiled

[2022-08-12 00:57] smartprogrammer93 commented on #3601
So i tried to work on this a little bit. i think the biggest problem that we might have are the converters. otherwise i believe it can go smoothly. Already converted one convertor to System.Text.Json with no problems. It will take some time though.

[2022-08-12 03:41] smartprogrammer93 commented on #3601
@LukaszRozmej you can check out ABIParsing using System.Text.Json in the referenced PR. Please note this implementation does not use code generation to optimize performance. Performance with codeGen would be way better.

[2022-08-12 09:54] marcindsobczak opened #4416 "We are printing headers descriptions when there is no data below"
We shouldn't print headers descriptions when OrderedPeers is empty
<img width="659" alt="header" src="https://user-images.githubusercontent.com/77129288/184330332-3711508e-81d7-4175-8059-4d9c2580f320.PNG">

[2022-08-12 11:05] smartprogrammer93 commented on #4416
Already fixed in #4411

[2022-08-12 11:05] #4416 closed

[2022-08-14 22:40] #4049 closed

[2022-08-14 22:40] #3414 closed

[2022-08-15 13:40] cbermudez97 commented on #4332
@MaxTeiger Thanks for the details, will review them. The resources I find about sokol testnet are the ones here:
https://forum.poa.network/t/sokol-testnet-resources/1776

[2022-08-15 16:57] marcindsobczak opened #4423 "Add log message with info about readiness to the merge"
feedback from mightypenguin

Feature request:
It would be VERY helpful to have a log message indicating on startup if NM at least has all the configuration options specified that are required for the ethereum mainnet merge.

[2022-08-16 06:31] pk27734 commented on #3743
Can we get an update on this issue?

[2022-08-16 07:23] MaxTeiger commented on #4332
Thank you for the resources ! Do you manage to make it work ?
Is it a wrong configuration on my side ?

[2022-08-16 10:00] alexpeterson91 commented on #3743
i dont think there's been progress, we solved the problem for our DAppNode users by implementing resource limits to keep nethermind from using to much RAM, only docker package of nearly 200 web3apps with this issue and it's persisted well all year so far for me at least, until we just put in ulimits to the docker containers

[2022-08-17 09:08] LukaszRozmej commented on #4266
So people won't use outdated chainspec when upgrading binaries for hardforks

[2022-08-17 11:44] marcindsobczak opened #4433 "Connecting with CL via IPC"
Feedback from user MarcTheMauler (discord):

[2022-08-17 16:23] #4338 closed

[2022-08-19 01:05] pinges opened #4443 "Nethermind hello message reports wrong version for witness protocol"
**Describe the bug**
The hello message sent by Nethermind contains the capability for the witness protocol. It is RLP encoded as:
c5: list with length 5
83: String of length 3
776974: “wit”
80: String of length 0 (https://ethereum.org/en/developers/docs/data-structures-and-encoding/rlp/)

This can lead to other ethereum clients to fail to decode the hello message, which means that they are not con

[2022-08-19 04:10] tkstanczak commented on #4443
Massive thanks for reporting rhis @macfarla

[2022-08-19 06:47] macfarla commented on #4443
credit goes to @pinges ! We have an issue in Besu to accept this format in the short term so that we can avoid rejecting NM peers - but do you have a timeline for fixing this in Nethermind?

[2022-08-19 07:19] LukaszRozmej commented on #4443
@macfarla @pinges I think the root cause here is that we serialize `Capability.Version` as an int, not a string. I think Geth behaves the same and I don't yet see flaw in that reasoning.

[2022-08-19 07:42] LukaszRozmej commented on #4443
As a workaround maybe we should retroactively just bump the version number to 1?

[2022-08-19 10:27] marcindsobczak opened #4446 "Add info about checkpoint sync to our docs"
Users are confused by very long sync of CL's. It can be reduced by enabling checkpoint sync in CLs. We need to add instructions like https://notes.ethereum.org/@launchpad/checkpoint-sync to our doc https://docs.nethermind.io/nethermind/first-steps-with-nethermind/running-nethermind-post-merge and consider adding checkpoint sync flags to example configs

[2022-08-19 14:55] #4165 closed

[2022-08-19 16:00] #4443 closed

[2022-08-19 19:08] svanegmond opened #4448 "Unable to start a new chain"
Nethermind refuses to start a new chain from block 0.

Turning on trace level debugging, I see a number of messages:
 Delaying producing block, chain not processed yet. BlockProcessingQueue count 0.

**To Reproduce**
All of these files successfully start a chain on 1.12.8

If I start 1.13.6 on amd64 with this chainspec, and config I get an infinte supply of the above error.

config:
[code]

chains

[2022-08-20 04:13] JosephK95 commented on #4388
Closing the issue as moved to the link above.

[2022-08-20 04:13] #4388 closed

[2022-08-20 04:13] JosephK95 commented on #4389
Closing the issue as moved to the link above.

[2022-08-20 04:13] #4389 closed

[2022-08-21 01:01] sjmini commented on #4396
Any comments or suggestions on this issue would be appreciated.

[2022-08-21 01:02] sjmini commented on #4395
Any comments or suggestions on this issue would be appreciated.

[2022-08-22 00:57] pinges commented on #4443
I have done some more research and I think that encoding an unsigned integer 0 as 0x80 (empty string) is OK, or maybe even common. I tried to find an official document, but failed to find one.
One example I found is that the boolean value "false" is encoded as 0x80, "true" is encoded as 0x01.

[2022-08-22 02:14] #4361 closed

[2022-08-22 10:09] LukaszRozmej commented on #4448
https://docs.nethermind.io/nethermind/ethereum-client/configuration/aura

Enable `AllowAuRaPrivateChains` on one of validators. It will start producing blocks without waiting for sync.

[2022-08-22 10:09] #4448 closed

[2022-08-22 13:59] #3896 closed

[2022-08-22 14:00] #3884 closed

[2022-08-22 19:48] dceleda opened #4455 "Error: RocksDB was not found"
**Describe the bug**
When building and running the node from the source code we can expect following error:

[code]

**To Reproduce**
1. Build the client from any old source code that included the old RocksDB wrapper - pre-nuget one. (for example from 1.13.5)
2. Run the node.
3. Stop the node
4. Delete the databases but leave the rest
5. Switch branch to master that includes the new nuget wrapper

[2022-08-22 20:31] rubo commented on #4455
How exactly have you built it?

[2022-08-22 20:42] dceleda commented on #4455
There is a script on some VMs:
[code]

[2022-08-22 20:44] rubo commented on #4455
@dceleda Have you seen [this](https://github.com/NethermindEth/nethermind/pull/4351#issuecomment-1212596698)?

[2022-08-22 21:41] dceleda commented on #4455
I think it doesn't matter if one builds from the script or not. Nothing fancy there.
The problem is related to switching the branches between an old wrapper one and a new nuget one, and building from the code.
In the end, it's not a big problem. Whenever someone builds again the error will disappear and new pulls and builds should be ok.

[2022-08-23 05:20] dbeal-eth opened #4456 "`EngineHost` only applied if `EnginePort` also specified"
**Describe the bug**
When configuring the `JsonRpc` module with `EngineHost`, the setting is not applied unless `EnginePort` is also specified (even if its the default value).

**To Reproduce**
Steps to reproduce the behavior:
1. Run nethermind with only parameter: `--JsonRpc.EngineHost=0.0.0.0`, which should expose the engine host to all open interfaces
2. Observe terminal output

[code]

3. atte

[2022-08-23 14:32] deffrian commented on #4456
We can't change this behavior due to backward compatibility with clients configured with AdditionalRpcUrls. You have to specify EnginePort otherwise, it will use AdditionalRpcUrls(ttp://localhost:8551).

[2022-08-23 23:03] dbeal-eth commented on #4456
I don't completely understand your reasoning. You are saying there are people out there who are specifying one of `EngineHost` or `EnginePort` and `AdditionalRpcUrls` and expecting it to work a certain way?

maybe the best change would be to update the docs to make this requirement clear?

or, you could deprecate `EngineHost` and `EnginePort` and instead provide a combined option like `EngineHostP

[2022-08-23 23:24] dcposch opened #4458 "State sync stuck at 100%"
**Describe the bug**

I'm unable to get my Nethermind node to sync properly.

History:
- It synced fully in June. I stopped running Nethermind.
- I restarted Nethermind two days ago. I have been unable to get it to catch up.
- I tried enabling snap sync; this also has not worked.

It appears to be stuck at 100% completion on state sync?

[code]

Zooming out from the sync bug--it would be very help

[2022-08-24 01:37] pinges commented on #4443
This problem has been fixed in Besu with https://github.com/hyperledger/besu/pull/4283
The fix will be available in the next release.

[2022-08-24 15:33] kamilchodola opened #4466 "[Restart] After restart on Goerli, Invalid best state calculation exception thrown"
**Describe the bug**
During testing on goerli testnet I've restarted Nethermind node and changed config in the meantime. After running run command, exceptions started appearing:

[code]

**To Reproduce**
This was one time exception - after following restart everything came back to normal.

**Desktop (please complete the following information):**
 - OS: Windows11

**Additional context**
Logs attach

[2022-08-24 15:33] kamilchodola commented on #4466
[goerli.logs (1).txt](https://github.com/NethermindEth/nethermind/files/9417469/goerli.logs.1.txt)

[2022-08-24 18:03] #4446 closed

[2022-08-25 09:31] marcindsobczak opened #4473 "Add description of our syncing process to docs"
**Is your feature request related to a problem? Please describe.**
Users are often asking questions related to our syncing process

**Describe the solution you'd like**
It would be nice to create a page in our docs and just link it instead of writing an answer every time

**Additional context**
It could be something like this, but with better wording and with screens:

In our SnapSync/FastSync we

[2022-08-25 11:14] DemuirGos commented on #4395
The javascript code provided give the following error : ``[ERROR] TimeLock is not defined``

[2022-08-25 12:40] #4394 closed

[2022-08-25 15:27] dceleda commented on #4455
I think at some point we'll be able to close that issue when all nodes will be 1.14+
Of course with a test of upgrading for example from
1.14.0 to some newer version.

[2022-08-25 22:05] dcposch commented on #4458
Still stuck:
[code]

[2022-08-26 04:36] eliotstock opened #4482 "Docs issues, "Manage Nethermind with systemd""
Working from https://docs.nethermind.io/nethermind/first-steps-with-nethermind/manage-nethermind-with-systemd, at v 1.13.6:

At the "Create a new user" stage, I happen to have a large SSD for chain data and a smaller one for the OS, as per common hardware recommendations for staking machines. Simply running `sudo useradd -m -s /bin/bash nethermind` will create the user's home dir as `/home/netherm

[2022-08-26 12:18] #4283 closed

[2022-08-26 17:09] dceleda commented on #4378
Mystery solved :)
There was a process running started (and forgotten) by another user on the Fast VM.
After killing the process SNAP is very fast again
1h 56m (1:40 ranges + 0:16 healing)

[2022-08-26 17:09] #4378 closed

[2022-08-27 16:44] LukaszRozmej commented on #3592
This is being implemented only in post-merge code.

[2022-08-29 04:30] sjmini commented on #4395
@DemuirGos, Sorry for the error.

The error occurred because the TimeLock is a runtime contract object.

I will share you the source code of the TimeLock contract here for your reference.
[TimeLock.zip](https://github.com/NethermindEth/nethermind/files/9441560/TimeLock.zip)

In addition, this is not a TimeLock contract issue.
It seems that the Nethermind client calculates an incorrect gas value ev

[2022-08-29 07:23] rickcain commented on #4276
Any updates?
@LukaszRozmej
@igorbarinov

[2022-08-29 10:13] dcposch commented on #4458
### It looks like a number of nodes are stuck at 14990417

Very strange.

Nethermind does look like it's successfully downloading newer blocks, then downloading state for those newer blocks.

[code]

However, it still reports block 14990417 as the tip.

**What's strange is a number of peers are also stuck on this block.** Those peers appear to be running geth, not nethermind.

Highlighted below:

[2022-08-29 14:24] MarekM25 commented on #4458
Hmmm I'm wondering if it is possible that it is connected to gray glacier: https://blog.ethereum.org/2022/06/16/gray-glacier-announcement

Would you mind verifying your chainspec (setting Init.ChainSpecPath)?

[2022-08-29 20:53] dcposch commented on #4458
I didn't override that setting. Looking at `/usr/share/nethermind/configs/mainnet.cfg`, I see that it's defaulting to `chainspec/foundation.json`.

Looking at that file, I can see it has the `terminalTotalDifficulty` set, which means it must be a recent configuration corresponding to my recent Nethermind version (see exact version string above).

[code]

[2022-08-29 21:17] Meekohi opened #4495 "Issue using launcher after installing with homebrew (Apple M1)"
**Describe the bug**
Homebrew installation for macOS 12.5.1 (Apple M1) doesn't seem to work. `Nethermind.Runner` doesn't exist in the homebrew installation as best I can tell (should be `./bin/nethermind` maybe?)

**To Reproduce**
[code]

nethermind 1.14.0
From: https://github.com/nethermindeth/homebrew-nethermind/blob/HEAD/nethermind.rb

see https://github.com/NethermindEth/homebrew-nethermind/bl

[2022-08-29 23:01] tkstanczak commented on #4495
@FalcoXYZ ?

[2022-08-30 12:38] tkstanczak commented on #4251
it is only needed when you want to create new tests on Nethermind

[2022-08-30 12:39] tkstanczak commented on #4266
has some disadvantages too, does not allow for any quick fixes and adjustment or config fixes without release

[2022-08-30 13:35] LukaszRozmej commented on #4342
This was already implemented and `Unhandled packet type: 6` errors come from p2p not discovery.

[2022-08-30 13:35] #4342 closed

[2022-08-30 14:51] gituser commented on #4482
@eliotstock
Not sure why you're getting issues there.

All you need to do is to create a systemd unit like this in **/etc/systemd/system/nethermind.service** (example is for ropsten network):
[code]
NETHERMIND_LOG_LEVEL=INFO
#NETHERMIND_JSONRPCCONFIG_ENABLEDMODULES=[Web3,Eth,Subscribe,Trace,Net]
NETHERMIND_METRICSCONFIG_ENABLED=true
NETHERMIND_METRICSCONFIG_NODENAME=Nethermind
NETHERMIND_METRICSCO

[2022-08-30 15:09] MarekM25 opened #4498 "SnapSync logging on restarts"
We still log a message that was used mostly for debugging when testing Snap Sync.
Now it only makes sense if a node finished Phase 1 of Snap Sync but didn't finished the healing phase.
The message shouldn't be shown if the state was fully synced and the node is processing.

![image](https://user-images.githubusercontent.com/9356351/187473441-56cdb16a-74cf-428e-a3b3-4d422e5dd4be.png)

[2022-08-30 16:18] smartprogrammer93 commented on #4266
@tkstanczak you can still specify a chainspec from a file if needed. Please check the associated PR.

[2022-08-31 11:16] smartprogrammer93 opened #4499 "Automated Disk space consumption and sync time in the docs"
Lets have some type of automated generation for the Disk space consumption, sync time and KnownDbSizes of our client every certain period or maybe with every release. We can have this happen during smoke tests.
Pages containing this information:
https://docs.nethermind.io/nethermind/first-steps-with-nethermind/hardware-requirements
https://docs.nethermind.io/nethermind/ethereum-client/sync-modes

[2022-08-31 12:33] kamilchodola opened #4502 "[Snap Sync] SNAP Phase1 and State Healing are running in the same time"
**Describe the bug**
After few attempts of killing Nethermind process on various progress of SNAP Phase1 after following attempt, State healing and Branches started to work in parallel with Snap Phase 1 which should not be possible.

**To Reproduce**
Steps to reproduce the behavior (not quite accurate - hard to get exact scenario for that)
1. Start Nethermind + Teku on Goerli and wait for OldHeade

[2022-08-31 14:54] kamilchodola opened #4504 "[Peers] When Peers number drop to 0, nethermind have problems to recover"
**Describe the bug**
After some network issues peers number drops to 0. For about 20 minutes it was logging "Waiting for Peers" and nothing interesting happened. After restart of nethermind app, peers came back properly.

**To Reproduce**
Steps to reproduce the behavior:
Disconnect the network for a moment and check if peers dropped to 0 and then recover network connection.

**Expected behavior**

[2022-08-31 15:27] dceleda opened #4505 "Account Abstraction for Gnosis Chain"
Implement Account Abstraction for Gnosis Chain.

**Describe the solution you'd like**
...

[2022-08-31 15:44] Meekohi commented on #4495
@FalcoXYZ Yes, running `nethermind` directly works after doing the `codesign` above 👍🏼

[2022-08-31 16:10] dceleda commented on #4395
@rubo the logic that estimates gas is quite complex. So take your time :)

[2022-08-31 16:30] #4349 closed

[2022-08-31 16:40] dceleda commented on #4319
What is the status of the issue?

[2022-08-31 16:41] dceleda commented on #4316
@rubo can we close it?

[2022-08-31 16:43] #4316 closed

[2022-08-31 17:05] dceleda commented on #4231
@FalcoXYZ could you help?
It seems it got stuck.

[2022-08-31 17:19] marcindsobczak opened #4506 "Implement EIP-4938: eth/67"
**Is your feature request related to a problem? Please describe.**
Geth is planning to drop eth/66 in the near future. We need to implement eth/67 protocol to be able to connect with Geth nodes.

**Describe the solution you'd like**
We need to implement eth/67 protocol and be ready to drop `GetNodeData` (sync using new snap protocol messages)

**Additional context**
https://eips.ethereum.org/EIPS/

[2022-08-31 17:39] dceleda commented on #4170
@jmederosalvarado can we close that issue?

[2022-08-31 17:46] dceleda commented on #4021
https://twitter.com/koeppelmann/status/1564541835615379456?s=20&t=PUQN_tl7C8HkAMN0nLgwqg

[2022-08-31 18:00] dceleda commented on #3791
@kristofgazso @jmederosalvarado  what is the status of this?

[2022-08-31 18:02] #3709 closed

[2022-08-31 18:02] dceleda commented on #3708
@tkstanczak as far as I remember it hasn't been implemented ?

[2022-08-31 18:12] #3581 closed

[2022-08-31 18:12] #3809 closed

[2022-08-31 18:17] #3355 closed

[2022-08-31 18:20] dceleda commented on #3250
@tkstanczak what is the status of this?

[2022-08-31 18:22] #3461 closed

[2022-08-31 18:23] dceleda commented on #2703
@tkstanczak could you elaborate more or close it?

[2022-08-31 18:23] dceleda commented on #2702
@tkstanczak could you elaborate more or close it?

[2022-08-31 18:23] dceleda commented on #2701
@tkstanczak could you elaborate more or close it?

[2022-08-31 18:24] dceleda commented on #2616
@tkstanczak could you elaborate more or close it?

[2022-08-31 18:26] dceleda commented on #2502
@tkstanczak is still valid or we can close it?

[2022-08-31 18:32] dceleda commented on #1965
@tkstanczak is it still valid?

[2022-08-31 18:32] dceleda commented on #1572
@tkstanczak can we close it?

[2022-08-31 18:36] dceleda commented on #436
@tkstanczak is stil valid?

[2022-08-31 18:37] dceleda commented on #167
@tkstanczak is it still valid?

[2022-08-31 18:57] FalcoXYZ commented on #4495
@Meekohi Would it be possible to try running `nethermind` directly without the codesign commands? Just so we can check if that was the issue or not?

You can remove and reinstall nethermind by using the following commands:

[code]

[2022-08-31 18:59] Meekohi commented on #4495
Yes I tried it before codesign and it did not work (immediately was killed with no error message)

[2022-08-31 19:02] FalcoXYZ commented on #4495
Can you please confirm whether or not the codesign fixes the issues you were facing?
Are nethermind, nethermind-launcher and nethermind-cli broken for you before the codesign and do they work after using the codesign commands? Just want to double-check! I'm already checking for a possible solution :)

[2022-08-31 19:03] pawanjay176 opened #4508 "Incorrect http error code on invalid jwt"
**Describe the bug**
Currently, nethermind responds to an invalid jwt token on the auth port with a 200 response code which makes it a bit ugly to parse response as an auth error. Here's a sample response for an `eth_syncing` request with an invalid jwt signature

[code]
It would be helpful and cleaner if nethermind returns a 403 response code for invalid jwt errors.

**To Reproduce**

Send a json

[2022-08-31 20:03] Meekohi commented on #4495
No worries @FalcoXYZ -- I think the code-signing and ENOENT issues are two independent problems.

After codesigning, there is still the issue of
[code]

Which is simply because it is trying to run `/Nethermind.Runner` but it has been renamed to `nethermind`.

[2022-08-31 20:12] smartprogrammer93 opened #4509 "Prysm logging error while nethermind is still downloading receipts"
**Describe the bug**
CL client (prysm) logging this error while nethermind is still downloading receipts.

`ERROR powchain: Could not check configuration values between execution and consensus client error=timeout from http.Client`

**To Reproduce**
Steps to reproduce the behavior:
1. Run Mainnet CL client with checkpoint
2. Run Mainnet Nethermind and let it sync till it reaches downloading old re

[2022-08-31 21:43] paulhauner commented on #4343
After running this config for a while, I don't think it works. I suspect the `NETHERMIND_METRICSCONFIG_INTERVALSECONDS` defines how often the metrics are updated internally. Whilst they can still be scraped on a more regular interval, the metrics won't be updated.

I'm lead to believe this since of my metrics are still at 0. I can also see `nethermind_discovery_bytes_received 282`, which is either

[2022-08-31 22:37] smartprogrammer93 opened #4510 "eth_syncing to report current syncing stage."
Since Json ignores properties that are not needed. we can add a property to the response of eth_syncing telling current stage of syncing (headers, state, bodies, receipts, etc) nethermind is on at the time of the request.

[2022-09-01 04:27] MicahZoltu commented on #4319
I am still running with tracing enabled, but I haven't run into the problem again.  This is complicated by the fact that I don't do a lot of transactions, so it may be a while before I reproduce.

[2022-09-01 06:13] smartprogrammer93 opened #4512 "Update to .NET 7"
As part of performance improvement it is vital that we upgrade to .NET 7 once it is released. For details about performance improvements in .NET 7 checkout the following:
https://devblogs.microsoft.com/dotnet/performance_improvements_in_net_7/

[2022-09-01 12:50] dasudiy opened #4514 "Processing loop threw an exception"
**Describe the bug**
Sudden encounter error during mainnet sync, and stuck here, using default mainnet.cfg
[code]

**Expected behavior**
continue syncing

**Desktop (please complete the following information):**
 - OS: Ubuntu 22.04
 - Version 1.14.0

[2022-09-01 13:33] marcindsobczak commented on #4514
That's very worrisome, we had problems with TrieException in the past, looks like it's not fully fixed. Would you be able to send full logs? It will help us to find source of the problem.

[2022-09-01 13:41] dasudiy commented on #4514
[mainnet.logs.txt.zip](https://github.com/NethermindEth/nethermind/files/9470308/mainnet.logs.txt.zip)
It's my latest logs file

[2022-09-03 00:15] eliotstock commented on #4482
Thanks, @gituser, but I followed this more or less exactly, changing only the paths for my machine, and still wasn't able to start the service:

[code]

I wondered if running  that `COMMAND` from the logs in a shall as root would work. It did:

[code]

So it runs on the shell as `root` using a direct command line, but not as `nethermind` when using `sudo systemctl start nethermind`. `/etc/sudoers.

[2022-09-03 10:56] gituser commented on #4482
@eliotstock

did you paste into */etc/sudoers.d/nethermind* the content from my post?

try deleting and re-adding nethermind user:
[code]

[2022-09-03 13:26] smartprogrammer93 commented on #4396
After investigation. found out geth returns a totalDifficulty as null instead of returning a value. where as if the value is null on our end we return 0. Should we:
1. calculate and return the totalDifficulty of the uncle block.
2. return null.
3. keep the current implementation.

[2022-09-03 18:20] whysthatso opened #4518 "terminate called after throwing an instance of 'std::bad_alloc'"
**Describe the bug**
nethermind crashes during startup or shortly after, exact point varies.

**Desktop (please complete the following information):**
 - OS: ETHonArm based on ubuntu 20.04, running on a rasppi 4 / 8gb
- version:
[code]

**Additional context**
- data directory lives on an additionally mounted 2tb ssd
- arguments to nethermind:
[code]

[2022-09-03 18:24] whysthatso commented on #4518
two examples:

[code]

[code]

[2022-09-04 01:03] eliotstock commented on #4482
@gituser, yes, `/etc/sudoers.d/nethermind` has your change:

[code]

I tried deleting and re-adding the `nethermind` user and having it have no password. Starting the service as the user fails:

[code]

Seeing `sudo: a password is required`, I also tried this *with* the `nethermind` user having a password:

[code]

...end the interactive session as root and become user `nethermind` again...

[code

[2022-09-04 09:44] LukaszRozmej commented on #4289
Not sure how this would solve any issues?

[2022-09-05 07:39] dcposch commented on #4458
Still stuck at 14990417.

**My chainspec looks correct to me. The path is `/chainspec/foundation.json`:**

<img width="1000" alt="image" src="https://user-images.githubusercontent.com/169280/188394621-a67b6fe5-b193-4da2-a751-23d875144719.png">

[2022-09-05 09:51] kamilchodola commented on #4504
Additional logs and scenario. EL closed for longer time when CL was working. SNAP Phase1 is taking way much longer than in normal case, losing peers to 0 and recovering just few ones (1 to max 7). Progress really slow.
[goerli.logs.txt](https://github.com/NethermindEth/nethermind/files/9488761/goerli.logs.txt)

[2022-09-05 09:52] kamilchodola commented on #4504
After candidates cleanup progress speeded up but just for a moment and then slowed down again.

[2022-09-05 11:58] kamilchodola opened #4523 "[Chainspecs] When invalid chainspec provided using --Init.ChainSpecPath unable to close CMD using CTRL+C"
**Describe the bug**
During testing of Embedded ChainSpecs I've noticed, that when providing invalid chainspec (empty, json invalid etc) Runner or Launcher will throw proper exception but user is unable just to close app using CTRL + C. Need to close entire cmd and type command again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chainspec location
2. Create new json file with just e

[2022-09-05 13:23] flcl42 opened #4525 "Ability to collect detailed logs when a problem appears"
**Is your feature request related to a problem? Please describe.**
It's hard to collect logs detailed enough to analyze emerging issues due to the high storage requirement.

**Describe the solution you'd like**
Allow to manually temporary raise log level with per-class granularity via CLI.
Collect future logs(or the past ones too if possible)

**Describe alternatives you've considered**
Collect co

[2022-09-05 14:07] #4266 closed

[2022-09-05 17:22] MarekM25 opened #4526 "Switching to block processing without finishing state sync (possible root cause of TrieExceptions)"
[export-8da8f614f2f127e.csv](https://github.com/NethermindEth/nethermind/files/9491397/export-8da8f614f2f127e.csv)

We started processing before we finished state sync:
![image](https://user-images.githubusercontent.com/9356351/188493983-c3c3d0a2-dad6-41da-8533-345eeae07b97.png)

So we send request with:
DownloaderOptions.Process https://github.com/NethermindEth/nethermind/blob/master/src/Nethermi

[2022-09-05 19:22] MarekM25 opened #4527 "Ancient data feature"
Does Nethermind have a "ancient data"-feature? I.e. put old blockchain data on a slower HDD?

https://discord.com/channels/629004402170134531/922531097332555796/1016427329444126821

[2022-09-05 19:58] MaxTeiger commented on #4332
My node is still not syncing

[2022-09-06 13:38] smartprogrammer93 commented on #4504
Cannot reproduce this. and Ashraf's PR (#4528) solves the snapsync disconnecting peers issue.
My internet disconnected a couple of times, lost all peers. gained new peers again after connected right away. there was no need to restart the client or do anything manually.

[2022-09-06 15:22] vyzaldysanchez commented on #4319
Do we know the status of this issue as of this week?

[2022-09-07 02:58] tanishqjasoria commented on #4319
We are not able to reproduce the issue on our end.

[2022-09-07 05:44] nazar-kuzo opened #4532 "Nethermind crashes with no error after eating all the RAM"
**Describe the bug**
This happened fourth time for the last 2 days during SnapSync (SNAP - progress of State Ranges (Phase 1)).
Application works just fine and utilizing about 6 to 8 gigs of RAM but at some point it starts to output
tremendous amount of logs like:
`2022-09-07 02:12:06.8669|A new block 15438574 (0x85828f...9ad28b) in fast sync transition branch - state not found`
and RAM utilizatio

[2022-09-07 05:48] nazar-kuzo commented on #4532
@LukaszRozmej @matilote @MarekM25 sorry for this rude chime-in, but I would like to hear some workaround/config changes to have this SnapSync is done, since it restarts every 8-12 hours and sync starts over, so I feel like I`m in a dead loop here, thank you!

[2022-09-07 06:36] MarekM25 commented on #4532
Thanks for reporting. It will help us resolve the problem!. It seems that it is connected to this issue: https://github.com/NethermindEth/nethermind/issues/4526
It looks like we have edge case during the sync. If I were you, I would try resync from scratch. Snap Sync is fast, so it shouldn't take long time. Our team will try to resolve root cause in the same time.

[2022-09-07 06:39] nazar-kuzo commented on #4532
@MarekM25 thanks for the quick reply, when you say

How can I do that? could you please point me to doc where I can prune existing state and start from scratch, thanks!

[2022-09-07 06:39] nazar-kuzo commented on #4532
@MarekM25 btw, I tried to make a memory dump and it says Process xxx not running compatible .NET runtime. I was installing .net 6, is this the correct one?

[2022-09-07 06:40] MarekM25 commented on #4532
Just close your client and remove your database folder. You can find the default db path here: https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/Nethermind.Runner/configs/mainnet.cfg#L5

[2022-09-07 06:42] nazar-kuzo commented on #4532
@Marek, currently Nethermind is in a almost died state, when it eaten all the memory but still working, do you want me to do something for you in that state?

[2022-09-07 06:44] MarekM25 commented on #4532
Thx a lot. It is not needed :) Your bug report helped me understand more about the root cause. I think we can explore this issue without your DB! :) Let me know that fresh sync will work for you.

[2022-09-07 06:45] nazar-kuzo commented on #4532
ah ok, glad to hear that, good luck then 😉

[2022-09-07 07:38] asdacap opened #4533 "Snap sync request failure rate metric"
**Is your feature request related to a problem? Please describe.**
Any problem related to snap sync

**Describe the solution you'd like**
Add a metric for the number of snapsync request and te number of snapsync request failure.

**Describe alternatives you've considered**
Add a metric for all sync dispatch with the feed type and exception type as a prometheus metric label, then make sure all exce

[2022-09-07 07:53] mcdee commented on #4039
@FalcoXYZ https://github.com/curiosity-ai/rocksdb-sharp/issues/26 contains reference to a potential fix for this issue.

[2022-09-07 08:58] LukaszRozmej commented on #4205
@gituser created a plugin that stores the traces and retrives them through json rpc, the only thing is this needs FullSync (but not archive state).

[2022-09-07 08:58] LukaszRozmej commented on #4143
@gituser created a plugin that stores the traces and retrives them through json rpc, the only thing is this needs FullSync (but not archive state).

[2022-09-07 10:44] nazar-kuzo commented on #4532
@MarekM25  little update after 3 hours of sync I noticed such messages:

[code]

[2022-09-07 10:56] nazar-kuzo commented on #4532
@MarekM25 and now I get this error as #4514

[code]

[2022-09-07 11:49] smartprogrammer93 opened #4537 "CLI eth_syncing if false broken"
user reported facing this issue
[code]
The response is just false instead of the struct. CLI cannot handle it

[2022-09-07 12:50] nazar-kuzo commented on #4532
Next update:

for last 90 minutes sync progress stays the same with such log output

[code]

[2022-09-07 12:52] nazar-kuzo commented on #4532
@smartprogrammer93 @MarekM25 please tell me what should I do

[2022-09-07 17:26] garyrob commented on #4039
I deleted my rocksdb installation, and installed a recent Nevermind version from scratch and it seemed to work find. So, as far as I can tell, it's fixed...

[2022-09-08 10:41] kamilchodola opened #4542 "[Gracefully stopping] Unable to Stop a node When OldReceipts are in progress and bunch of new block are to be downloaded"
**Describe the bug**
Mainnet synced until OldReceipts and during OldReceipts node has been stopped.
After one day of waiting, node is restarted and there are 10k blocks to be downloaded and OldReceipts still Inprogress.
When both of those operations are in progress, I'm unable to CTRL + C to stop a node. No Keyboard action is reflected on console.

**Expected behavior**
Possibility to stop a node

[2022-09-08 16:12] quickchase opened #4545 "No nonce field in PoA blocks"
**Describe the bug**
It's unclear to me if this is a bug or intended behavior, but it is strange and it could affect Gnosis upcoming merge.

Currently, on xDai/Gnosis, Nethermind does not return a `nonce` field in the body of the response to `eth_getBlockByNumber`

On PoA networks this value is static, at `0x0000000000000000` (or it's `null`? Unclear) so I kind of understand why it's not returned

[2022-09-09 09:54] dceleda opened #4547 "Write RockssDB version info into the log file"
We have a feature implemented by @flcl42 that logs RocksDB version to the console.
Unfortunately, it doesn't write that info into the log file.
Maybe because the file stream is not initialized yet.
We should also write it to the file.

[2022-09-09 11:24] LukaszRozmej commented on #4545
This is by design, `nonce` field doesn't make sense in AuRa networks. I think we followed OpenEthereum here. We potentially could include it but it wouldn't do much sense.

[2022-09-09 11:54] quickchase commented on #4545
Do you plan to start including it after the gnosis merge?

[2022-09-09 15:36] diglos commented on #4518
Hi.

This happens as well on Odroid M1 and Rock 5B board ARM boards. Checked with the last version 1.14.1. Is there any way we can get a hint on what is going on? (meaning how to trace this).

Thanks!

[2022-09-09 17:26] dceleda commented on #4532
Related to https://github.com/NethermindEth/nethermind/issues/4502

[2022-09-09 18:25] dceleda opened #4548 "Warn user when performance is low"
In general, we can experience multiple issues if a hosting machine is slow (disk, network etc).
For example the node will struggle to sync with the network. Usually, we can use Grafana to read the metrics or read the logs.
It would be good to warn users if for example disk reads/writes are very slow or network communication is below expectations.

[2022-09-09 21:23] dceleda opened #4551 "[SnapSync] Pivot changes to often"
For some reason Pivot changes very often with very small jumps during the Ranges phase.
In the beginning the jumps are ok (should be bigger but are acceptable) but later during the Ranges phase the jumps are very often and usually just by one block.
It doesn't break anything but probably slows down the Ranges phase and maybe healing (more holes).
It only happens on my slower VM and causes more tha

[2022-09-09 22:28] dceleda opened #4552 "[SnapSync] Log properly progress of healing"
Progress of the healing phase is not properly logged.
For example following entry indicates only 0.20% but the healing is almost over.

`2022-09-09 22:26:10.8605|State Sync 00.00:49:05 | ~0.20 % | 198.50MB / ~100850.00MB | branches: 37.50 % | kB/s:   353 | accounts 76560 | nodes 717846 | diagnostics: 10.476.17ms`

[2022-09-10 06:07] smartprogrammer93 commented on #4547
Looks like we reverted logging the Db file version in #4351
also, #4333 only logged the Db file version for db patching.
@flcl42 can you confirm?

[2022-09-12 08:39] flcl42 commented on #4547
@smartprogrammer93 yes, for db engine patching to be precise. Extracted from db metadata files, no other way found.

[2022-09-12 09:38] dceleda opened #4557 "Use RocksDB memory cap"
RocksDB has a new config that allows to have a proper memory cap. We could use it in a combination with Memory Hint.

[2022-09-12 10:13] dceleda opened #4558 "EIP-4844: Shard Blob Transactions"
Implement [Shard Blob Transactions](https://www.eip4844.com/)
https://eips.ethereum.org/EIPS/eip-4844

Devnet v6 scope is the most recent agreed set of features.

### Implementation and merging progress

Devnet-v6 ready on branch `feature/eip-4844-v6`.
The progress can be checked by revising [pull requests](https://github.com/NethermindEth/nethermind/pulls?q=label%3Aeip-4844) state

## Running loc

[2022-09-12 16:05] asdacap commented on #4551
This seems likely due to:
- Lack of throttling on response byte which tend to cause a lot of timeouts. Fixed by https://github.com/NethermindEth/nethermind/pull/4528 (not in develop)
- Combined with this logic, which seems to mean, if you have a lot of consecutive failures (probably because of previous issue), pivot get reset. https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/

[2022-09-12 16:22] nazar-kuzo commented on #3743
@LukaszRozmej @dceleda
I would like to follow-up on this issue since I have kinda similar behavior.

So I'm running EL + Prysm CL/Validator for more than 24 hours in full sync and see a slight downtrend in terms of available RAM.

my specs:
Azure hosted VM, 4 vCPU, 16 GiB RAM, 2TB SSD (7200 IOPS, 250 MB/sec throughput)

running Nethermind in a Docker with such config:
[code]

Resource utilization

[2022-09-12 17:32] dcposch commented on #4458
@MarekM25 I'm going to delete my deata directory and sync from scratch. I've saved logs in case you want them for inspection.

**Nethermind is receiving new blocks, but unable to progress past block 14990417.** It seems state sync is failing:

[code]

Not sure what the perennial `branches: 0.00%` is about.

[2022-09-12 19:03] nazar-kuzo commented on #3743
@LukaszRozmej

I would like to prepare the memory dump for you but I'm having a hard times with collecting it from Docker container.

Could you please prepare a step by step guide on what should I do in order to collect it from Nethermind running in Docker container, then I'll happily do it for you.

As of now, I installed all the tools on my machine but it still complains that there is no process

[2022-09-12 20:44] nazar-kuzo commented on #3743
@LukaszRozmej

Okay, I managed to do that on my own.

[Reference](https://github.com/mjrousos/ContainerProfiling/blob/master/README.md#steps-to-profile-from-a-sidecar-with-dotnet-trace)

- Download Microsoft "dotnet-dump" Docker image
`sudo docker pull mcr.microsoft.com/dotnet/monitor:latest`

- Restart Nethermind Docker image with shared folder parameter that exposes IPC
`-v /tmp/container_socket

[2022-09-12 20:46] nazar-kuzo commented on #3743
@LukaszRozmej
Since I had to restart Nethermind to enable sidecar diagnostics it runs the possibility to collect "interesting" dump for you, So I'll get back to you here tomorrow once I'm running low on RAM.

Please let me know which types of dump do you need?
dump - heap/full?
GC dump??

[2022-09-13 03:09] reductionista commented on #4319
I found the original error message in discord history:
[code]
Based on `tx.CalculateAffordableGasPrice()` and `tx.CalculateEffectiveGasPrice()`, it looks like this error should be expected occasionally whenever the tx pool is full and Nethermind doesn't think the transaction will be more valuable than the least valuable transaction it has pending.

In this case, the least valuable transaction  was

[2022-09-13 09:01] MicahZoltu commented on #4319
The "fee too low" dropping code path shouldn't be reachable for transactions sent directly to the client over JSON-RPC.  Any transactions sent directly to the client should get preferential treatment compared to the rest of the mempool and be retained even if normally they would be kicked out.

You are correct though for transactions received over gossip, they should be kicked out of the mempool i

[2022-09-13 12:53] quickchase commented on #4208
Still happening 1.14.1

[2022-09-13 18:55] dceleda opened #4562 "Specify hardware requirement for sync"
We need to clearly specify in our docs what are minimal and recommended requirements to sync a node:
- network bandwidth
- IOPS
- IO (can be limited separately from IOPS)

[2022-09-13 19:49] svanegmond opened #4563 "Include IP address in RPC logging"
RPC logging does not include an IP address of the requester, and it would be really useful if it did.  Even at debug level, it does not mention the IP address of requestors.

Instead of logging the RPC request ID, log the IP address of the remote connection - this is indicated by the network stack, or the x-forwarded-for HTTP header introduced by servers such as nginx that commonly do SSL terminat

[2022-09-13 21:17] silmooninc opened #4564 "Fatal error. System.Runtime.InteropServices.SEHException (0x80004005)"
Version      : 1.14.0-0-60f920b90-20220913/X64-Windows/6.0.8
This node    : enode://693dec3469ca7be1fec285e2ada3f5219260ca7f1ce8cf8438fd9264fcbb110acbe7647f2060cc4273c19f95c557a6c179b22fa5f5055cd5d5e6cba4d65479f0@104.217.249.[hide]:30303
RPC modules  : Eth, Net, Parity, Personal, Proof, Rpc, Subscribe, Trace, TxPool, Web3
Node address : 0x0f4bac50f3cb88cd263636600f2d1f4fc1ff8844 (do not use as an

[2022-09-13 21:25] kkokosa commented on #3743
Hi @nazar-kuzo, I'll jump in helping to investigate this issue.

As you have already configured `dotnet-monitor`, which is great, now we are ready to diagnose. First of all, what I would like to see is a *trace* recorded periodically with the help of `/trace?pid={pid}?durationSeconds=300&profile=cpu` endpoint. Could you run such 5minutes long session several times every hour, remembering also the

[2022-09-13 23:33] nazar-kuzo commented on #3743
@kkokosa I did a test run with this command
`curl -o nethermind.nettrace http://localhost:52323/trace?durationSeconds=300&profile=cpu&pid=1`
"Timestamp":"2022-09-13T23:20:00Z"

Which gave me the 172MB file, by default it is in `nettrace` format, so I was able to open it in VS 2022 on Windows
![image](https://user-images.githubusercontent.com/13677730/190027219-1c392edc-baf2-4d87-83a9-322dffe69dd7.

[2022-09-14 08:23] kamilchodola opened #4566 "Possibility to hide Client Name from Peers for Privacy"
**Is your feature request related to a problem? Please describe.**
As per Discord thread, user want to hide his Client name for privacy purpose:
"can i remove the client name from the p2p identity messages for privacy?"

**Describe the solution you'd like**
Maybe it would be nice to have config property with this value and to be editable in any specific way (keeping info about Nethermind and its v

[2022-09-14 09:44] nazar-kuzo commented on #3743
@kkokosa Another trace
[https://1drv.ms/u/s!Ai5XSIx7haA0k99gJYCReLdRFdXz-g?e=cgGICm](https://1drv.ms/u/s!Ai5XSIx7haA0k99gJYCReLdRFdXz-g?e=cgGICm)

"Timestamp":"2022-09-14T09:32:00Z"

Available RAM during that time:
![image](https://user-images.githubusercontent.com/13677730/190120658-87538c54-0615-438c-bbd4-c82ea2a34855.png)

[2022-09-14 10:46] #4508 closed

[2022-09-14 11:28] nazar-kuzo commented on #3743
@kkokosa Yet another trace
[https://1drv.ms/u/s!Ai5XSIx7haA0k99hergSq2-GFj8b3w?e=HXOsTG](https://1drv.ms/u/s!Ai5XSIx7haA0k99hergSq2-GFj8b3w?e=HXOsTG)

"Timestamp":"2022-09-14T11:02:00Z"

Available RAM during that time:
![image](https://user-images.githubusercontent.com/13677730/190139388-01d9e46e-45e9-4e32-a054-d9646583e7ed.png)

[2022-09-14 17:25] kkokosa commented on #3743
Thank you very much, on it. Need some time to look at them and I will return with next steps.

[2022-09-14 17:31] nazar-kuzo commented on #3743
@kkokosa you are always welcome, also I would like to add that based on my observations, RAM fluctuations are not always reflected in used RAM by Nethermind (based on docker container stats) but often in "buff/cache" RAM based on `free -m` command, I did such observations yesterday during the day.

So it might be issue related to RAM utilization and recycling rather than memory leaking etc., pleas

[2022-09-14 17:33] nazar-kuzo commented on #3743
@kkokosa also attaching the available RAM chart for last 48 hours to understand the overall dynamics.
(Spike at the beginning was due to Netherming restart to enable dotnet-monitor diagnostics)

![image](https://user-images.githubusercontent.com/13677730/190223528-02463fa2-5e44-40a4-ad6b-702af1e6aa3a.png)

[2022-09-14 21:01] reductionista commented on #4319
Ah, good point--in that case, I wonder if re-orgs could be the problem.

It removes each tx from the the mempool as soon as it receives a new head including it.  But then if there's a re-org, it adds it back into the mempool, but in doing so it loses its preferential status as a local transaction:
https://github.com/NethermindEth/nethermind/blob/master/src/Nethermind/Nethermind.TxPool/TxPool.cs#L1

[2022-09-14 23:42] kamilchodola opened #4568 "After state sync node stopped following the chain and unable to restore after restart."
**Describe the bug**
Discord issue.
When user synced DB, had a lot of "Discovered new block" messages but none of "processed" or "Downloaded".
When after few days noticed, restarted node and saw a lot of nodes to be done but progess is frozen - no following restarts help.

One of the root causes may be that User first had Nethermind synced on PC, then moved to geth and then came back to nethermind

[2022-09-15 00:40] asdacap commented on #4568
The hanging block is invalid.

[code]

[2022-09-15 01:29] asdacap commented on #4568
Need to check for hash then disconnect / penalized the peer or something.

[2022-09-15 01:36] asdacap commented on #4568
In the case where the block validation failed during processing, for PoS, the CL would then get invalid status. Not exactly sure about PoW.

[2022-09-15 08:44] jugene opened #4569 "Nethermind stops syncing"
2022-09-15 10:42:21.2668|Processed   15537410 |    1,151ms of   1,151ms, mgasps   52.14 total   50.16, tps  615.37 total  394.52, bps    1.74 total    2.43, recv queue 0, proc queue 2
2022-09-15 10:42:21.2668|Rerunning block after reorg or pruning: 15537411 (0xd56cd6bf3eeaa0e33cce1035c7325b7a04b26c6cf04a1128f66e5d9f3e7a511f)
2022-09-15 10:42:21.6020|Rerunning block after reorg or pruning: 15537412

[2022-09-15 08:46] MarekM25 commented on #4569
Did you run CL client?
Could you share full logs?
Did you read https://docs.nethermind.io/nethermind/first-steps-with-nethermind/running-nethermind-post-merge ?

[2022-09-15 11:13] 1scrooge commented on #4569
My three nodes stuck at block 15537393
Nethemind version is 1.14.1
Execution client config:
[code]
Last log from EC
[code]
Consensus client config:
[code]
Consensus client log:
[code]
Any ideas?

[2022-09-15 11:15] MarekM25 commented on #4569
time="2022-09-15 11:12:03" level=info msg="Waiting for enough suitable peers before syncing" prefix=initial-sync required=3 suitable=0
hmmm it looks like no peers on CL (prysm side?)

Do you see any newPayload or forkchoiceUpdated messages in Nethermind?

[2022-09-15 11:22] 1scrooge commented on #4569
its prysm

no

[2022-09-15 11:25] MarekM25 commented on #4569
So it looks like issue with peering on prysm side. Let me report it to the prysm team.

[2022-09-15 11:26] dceleda opened #4570 "Test .NET 7 before we migrate"
.NET 7 is coming soon with many performance improvements. We could start testing the migration and see if we're able to notice any performance improvements.

[2022-09-15 11:31] MarekM25 commented on #4569
@1scrooge I have info from prysm team.
You should check your firewall settings. More info: https://docs.prylabs.network/docs/prysm-usage/p2p-host-ip

[2022-09-15 11:42] 1scrooge commented on #4569
@MarekM25 Before merge it works with the same configuration

[2022-09-15 11:46] MarekM25 commented on #4569
@1scrooge I can't help more. We need fcU and newPayload to work from prysm. Prysm is not sending these requests. We should create issue in prysm repo IMO. You can tag me of course. However, I don't think I can help you more on EL (Nethermind) side

[2022-09-15 11:54] 1scrooge commented on #4569
@MarekM25 could you recommend another CL?

[2022-09-15 12:12] kamilchodola commented on #4570
We should bring our SmokeTests and take some measurements on both .NET version to see a difference - same with Unit/Integrations tests

[2022-09-15 12:14] MarekM25 commented on #4569
All of them are great :)

[2022-09-15 12:15] kamilchodola opened #4571 "Health Check randomly returns Unhealthy Postmerge"
**Describe the bug**
Discord topic:
https://discord.com/channels/629004402170134531/629004402170134537/1019934314189828166

/health endpoint has returned Unhealthy once during postmerge work.
On this configuration on user side pre_merge it never happened so maybe something is disturbing this endpoint a bit.

Logs:
[message (2).txt](https://github.com/NethermindEth/nethermind/files/9575072/message.

[2022-09-15 13:46] ThomasDalla commented on #4571
Happened again: it briefly goes unhealthy (and alerts me) before going back healthy (seconds later).
I had been running for weeks before `The Merge` and did not have that issue.

New logs: [nethermind_logs_2.txt](https://github.com/NethermindEth/nethermind/files/9575774/nethermind_logs_2.txt)

[2022-09-15 14:22] mrosack commented on #4571
I can confirm this has been happening to me as well since the merge.

[2022-09-15 17:33] marcianovc opened #4573 "Set base/limit/max fee genesis aura consensus"
How to set base/limit/max fee genesis.json aura consensus ?

 "params": {
 ...
   "minGasLimit": "0x4a817c800",
 ...
   "eip1559BaseFeeInitialValue": "0x4a817c800",
  }
 "genesis": {
 ...
    "gasLimit": "0x5d21dba00"
  }

Metamask not suggest fee setting genesis.

[2022-09-16 00:24] darkobas2 commented on #4571
I can confirm. it says Unhealty because the node has stopped processing blocks instead of that its fully synced.
All my health checks are having issues now :) Would be cool to have a second status or something

[2022-09-16 08:13] asdacap commented on #4568
This is a legitimate validation failure. https://etherscan.io/block/15515734
Its the hang that is the problem.

[2022-09-16 10:21] MarekM25 commented on #4569
I'm closing the issue. Feel free to comment and we will reopen if needed

[2022-09-16 10:21] #4569 closed

[2022-09-16 10:31] MicahZoltu commented on #4319
In my case, the "fee too low" response came in response to `sendRawTransaction` and `sendTransaction` calls, which I *think* wouldn't be subject to reorgs like this because we get the response essentially immediately.  If there was a race condition, I would be surprised given the frequency I got the error back when I was getting it regularly.  I haven't got it in a while though, so maybe it has be

[2022-09-17 03:56] asdacap commented on #4568
Not, its legitimately valid. I did not read the logs correctly.

[2022-09-17 03:58] asdacap commented on #4568
We've had at least two more occurance of such issue.

[2022-09-19 09:17] MarekM25 opened #4578 "Optimize eth_getBlockByNumber and eth_getBlockByHash"
Our responses are slow (avg 30-45ms). It is important for integrations with CL clients. It could cause missing attestations

[2022-09-19 10:30] dceleda opened #4579 "Remove 1.14.2 fix"
Remove a fix that was introduced in 1.14.2 version.
When all Nethermind nodes in the network are above version 1.14.2 we should remove the fix.

[2022-09-19 10:53] MarekM25 opened #4580 "Implement EIP-4895: Beacon chain push withdrawals as operations"
Explore withdrawals:
https://eips.ethereum.org/EIPS/eip-4895

[2022-09-19 13:54] rmlcu commented on #4482
same issues here: client doesn't start using ubuntu PPA guide.

either documentation must be updated to give predictable working result or client bin's behaviour under the hood.

[2022-09-19 16:28] dceleda opened #4582 "Coding standard"
Align coding standards across PRs.
Create a linter that automatically formats everyone's code to the same code style. For example, Warp uses this for TypeScript: https://github.com/NethermindEth/warp/blob/develop/.eslintrc.json.
They also have what’s a called a ‘pre-commit hook’ which means every time we ‘git commit’ it automatically formats their code to some agreed code formatting.

[2022-09-19 16:32] dceleda commented on #4582
Please create a notion page first with suggestions that the team should agree to.

[2022-09-19 16:50] dceleda commented on #4582
I'm not sure if we need any strict rules. Let's what the team thinks.
One thing that we need for sure is whitespace automatic formatting in IDEs to avoid situation when we have so many changes whoever touches a file.

[2022-09-19 16:52] MarekM25 opened #4583 "Shanghai tracking issue"
| EIP	| GitHub Issue | PR |
| ------------- | ------------- |  ------------- |
| [EIP-3540: EVM Object Format (EOF) v1](https://eips.ethereum.org/EIPS/eip-3540)  |   ||
| [EIP-3651: Warm COINBASE](https://eips.ethereum.org/EIPS/eip-3651)  | ||
[EIP-3670: EOF - Code Validation](https://eips.ethereum.org/EIPS/eip-3670)||
[EIP-3855: PUSH0 instruction](https://eips.ethereum.org/EIPS/eip-3855)	||
[EIP-

[2022-09-19 16:55] smartprogrammer93 commented on #4582
We have https://github.com/NethermindEth/nethermind/blob/master/.editorconfig
I am not sure if VS is respecting it since it is outside of the folder of the solution
but we can call dotnet format
https://github.com/dotnet/format
pre commit using hooks. but that will require everyone to install dotnet format.
it is the simplest solution i found

[2022-09-19 16:59] dceleda opened #4584 "EIP-3540: EVM Object Format (EOF) v1"
Implement https://eips.ethereum.org/EIPS/eip-3540

[2022-09-19 17:01] dceleda opened #4585 "EIP-3651: Warm COINBASE"
[EIP-3651: Warm COINBASE](https://eips.ethereum.org/EIPS/eip-3651)

[2022-09-19 17:03] dceleda opened #4586 "EIP-3670: EOF - Code Validation"
https://eips.ethereum.org/EIPS/eip-3670

[2022-09-19 17:05] dceleda opened #4587 "EIP-3855: PUSH0 instruction"
https://eips.ethereum.org/EIPS/eip-3855

[2022-09-19 17:06] dceleda opened #4588 "EIP-3860: Limit and meter initcode"
https://eips.ethereum.org/EIPS/eip-3860

[2022-09-19 17:46] dceleda opened #4590 "Naive serve GetAccountRange"
Implement the server side of **GetAccountRange** method from the SNAP protocol without snapshots.
https://github.com/ethereum/devp2p/blob/master/caps/snap.md

[2022-09-19 17:47] dceleda opened #4591 "Naive serve GetStorageRanges"
Implement the server side of **GetStorageRanges** method from the SNAP protocol without snapshots.
https://github.com/ethereum/devp2p/blob/master/caps/snap.md

[2022-09-19 17:48] dceleda opened #4592 "Serve GetByteCodes"
Implement the server side of **GetByteCodes**  method from the SNAP protocol.
https://github.com/ethereum/devp2p/blob/master/caps/snap.md

[2022-09-19 17:48] dceleda opened #4593 "Serve GetTrieNodes"
Implement the server side of **GetTrieNodes** method from the SNAP protocol.
https://github.com/ethereum/devp2p/blob/master/caps/snap.md

[2022-09-19 18:09] #4455 closed

[2022-09-19 20:08] dceleda opened #4596 "Measure and monitor code coverage"
We need to pay more attention to code coverage and introduce some monitoring.

[2022-09-19 20:09] dceleda opened #4597 "Automate Smoke Tests"
Currently, we run Smoke Tests manually. We should run them automatically.
Daily?

[2022-09-19 20:18] dceleda opened #4598 "[Smoke Tests] Test on slow VMs"
We should run tests on low-performing VMs for example:
- low IO
- low IOPS
- slow network
- CPU
etc

[2022-09-20 01:59] tkstanczak commented on #4596
We have been running code coverage for the last 4 years. Someone removed a link from readme? It is part of the GitHub actions.

[2022-09-20 02:03] tkstanczak commented on #4596
https://app.codecov.io/gh/NethermindEth/nethermind

[2022-09-20 02:15] #32 closed

[2022-09-20 02:15] tkstanczak commented on #32
The code was removed because it did not work. Also with snap sync the light client in the old form either does not exist or is not on the list of needed deliveries or is planned to replaces by other solutions.

[2022-09-20 02:16] tkstanczak commented on #2762
Ndm removed for now

[2022-09-20 02:16] #2762 closed

[2022-09-20 02:16] tkstanczak commented on #2761
Ndm removed for now

[2022-09-20 02:16] #2761 closed

[2022-09-20 02:16] tkstanczak commented on #1969
Ndm removed for now

[2022-09-20 02:17] tkstanczak commented on #1967
Ndm removed for now

[2022-09-20 02:17] #1967 closed

[2022-09-20 02:17] tkstanczak commented on #1964
Ndm removed for now

[2022-09-20 02:17] #1964 closed

[2022-09-20 02:17] tkstanczak commented on #1952
Ndm removed for now

[2022-09-20 02:17] #1952 closed

[2022-09-20 02:18] tkstanczak commented on #1915
Ndm removed for now

[2022-09-20 02:18] #1915 closed

[2022-09-20 02:18] tkstanczak commented on #1453
Ndm removed for now

[2022-09-20 02:18] #1453 closed

[2022-09-20 02:18] tkstanczak commented on #1452
Ndm removed for now

[2022-09-20 02:18] #1452 closed

[2022-09-20 02:19] tkstanczak commented on #1969
Ndm removed for now

[2022-09-20 02:19] #1969 closed

[2022-09-20 02:19] tkstanczak commented on #1572
Ndm removed for now

[2022-09-20 02:19] #1572 closed

[2022-09-20 06:39] knocte commented on #32
Then why did you close it as completed? There's an option to close it as "not planned" instead.

[2022-09-20 10:05] smartprogrammer93 commented on #4582
With the suggested approach above, users need to :
1. install dotnet format
[code]
2. assign the hooksPath like so
[code]

[2022-09-20 10:57] FalcoXYZ opened #4602 "Rewrite/update docs"
Update the documentation and make everything post-merge instructions. (we could leave a page for pre-merge)
Also update/rewrite the installation instructions for Linux, MacOS and Windows.

[2022-09-21 08:59] smartprogrammer93 opened #4605 "Fork activation by timestamp"
After the merge, Forks will be activated synchronously with CL client using Timestamp. our implementation usually depends on a block. we need to add a Timestamp activation for Shanghai.

[2022-09-21 10:40] kamilchodola commented on #4564
Hello @silmooninc!

We reproduced that issue and we are wondering - what CPU did You using on your machine?
Suddenly it probably is a case with RocksDB version which we are currently using on nethermind and we are considering upgrade but need to test it properly (RocksDB seems to have some problems with a bit older CPU which does not support AVX2).

[2022-09-21 10:42] silmooninc commented on #4564
![QQ截图20220921184204](https://user-images.githubusercontent.com/76204563/191484293-839e9fe0-983e-469b-914d-aaf661d78ad2.jpg)

[2022-09-21 10:43] silmooninc commented on #4564
![QQ截图20220921184204](https://user-images.githubusercontent.com/76204563/191484494-d08e788d-ce78-4a49-aa00-26b8c41de1ec.jpg)

[2022-09-21 10:55] kamilchodola commented on #4564
Thanks! just checked and this is exactly the same case: Your CPU supports AVX but not AVX2.

We are testing it and still not sure if this works properly yet, so we will let You know about it.
Would You be interested checking this version on Your end if we would prepare a beta-version for that?

[2022-09-21 10:56] kamilchodola commented on #4564
Also - which Windows version are You using?

[2022-09-21 10:57] kamilchodola commented on #4564
Is it Windows11?

[2022-09-21 10:58] silmooninc commented on #4564
Nope,
![QQ截图20220921185757](https://user-images.githubusercontent.com/76204563/191487229-5d819468-b66a-4d42-a624-406921dda798.jpg)
Windows Server 2019

[2022-09-21 11:03] silmooninc commented on #4564
1.14.x: Windows 11, i9 9900K is okay. but on server it's error.
1.13.x: Same server(server 2019) running normally.

[2022-09-21 11:05] kamilchodola commented on #4564
So this may be because on one of the 1.13 version we used different RocksDB version and that may be some difference here.
In i9 9900K it is supporting AVX2 for now

[2022-09-21 11:15] silmooninc commented on #4564
I'm a developer of the .NET stack, waiting for your next update, I'm using geth now.

[2022-09-21 15:10] nazar-kuzo opened #4610 "Nethermind + Prysm execution has failed requests from time to time"
**Describe the bug**
Prysm CL shows errors that Nethermind failed to respond.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run Nethermind in docker with config
[code]
2. Run Prysm CL in docker
[code]
3. Wait for errors to appear in Prysm CL

**Expected behavior**
Prysm CL should not fail to receive responses from Nethermind due to timeout

**Desktop (please complete the following i

[2022-09-21 15:35] nazar-kuzo commented on #4610
Nethermind logs for last 3 days
[https://1drv.ms/t/s!Ai5XSIx7haA0k99jWJuQK3GGA3GuUA?e=X8RkTZ](https://1drv.ms/t/s!Ai5XSIx7haA0k99jWJuQK3GGA3GuUA?e=X8RkTZ)

[2022-09-21 17:02] dceleda opened #4611 "Warn when JWT is missing"
Whenever a user provides a config value for `JwtSecretFile `and the file is not found, the node will create a secret by itself.
The node will log an info message:
`Authentication secret has been written to file <configured path>`
It should be a warning instead and write something like:
`The authentication secret hasn't been found in <configured path> so it has been automatically created.`

[2022-09-21 17:11] dceleda opened #4612 "[DOCS] Prysm config examples"
In our docs we use `http-web3provider` in examples for Prysm:
https://docs.nethermind.io/nethermind/first-steps-with-nethermind/running-nethermind-post-merge

but its deprecated
`WARN The http-web3provider flag has been deprecated and will be removed in a future release,please use the execution endpoint flag instead execution-endpoint`

Check:
https://docs.prylabs.network/docs/install/install-with

[2022-09-21 17:42] dceleda opened #4613 "Config file being erased"
**Describe the bug**
The config file is completely erased if the JSON is incorrectly formatted.

**To Reproduce**
Steps to reproduce the behavior:
1. Broke your config file - for example remove a required comma.
2. Run the node
3. You should get:
[code]
4. Check if your config file is empty now.

[2022-09-21 17:49] dceleda opened #4614 "[DOCS] Merge.Enabled=true"
Current docs are not explicit about setting the flag `Merge.Enabled` to TRUE.
There is a section with TTD where the flag is mentioned but the section is related only to test nets (https://docs.nethermind.io/nethermind/first-steps-with-nethermind/running-nethermind-post-merge#ttd-config).
It's also mentioned here:
https://docs.nethermind.io/nethermind/first-steps-with-nethermind/running-nethermind-

[2022-09-21 19:17] dceleda opened #4615 "[DOCS] Checkpoint sync instructions"
Instructions on how to configure checkpoint sync are terrible.
There are examples with Infura Urls including PROJECT-ID that are not even exaplained.
Why we don't have examples with
https://eth-clients.github.io/checkpoint-sync-endpoints/

[2022-09-21 20:12] nazar-kuzo commented on #4610
Thanks for the very quick response, @MarekM25

[2022-09-21 21:48] pdoyon commented on #4564
Hello, I just had the same issue, I upgraded `RocksDB` lib from version `6.29.3.26014` to `7.5.3.32564` and problem fixed.

Nethermind version: 1.14.1-11-5b73a2771-20220921/X64-Windows/6.0.9
OS: Windows 10 Pro 21H1 19043.2006
CPU: Intel(R) Core(TM) i7-2600K CPU @ 3.40GHz   3.40 GHz

Some more details here: https://github.com/facebook/rocksdb/issues/8522

[2022-09-21 23:13] #4231 closed

[2022-09-21 23:17] #4343 closed

[2022-09-21 23:18] #4547 closed

[2022-09-22 00:34] paulhauner commented on #4343
Heyo, I'm wondering if #4519 allows for pull-style Prometheus configurations, please? From my naive reading, #4519 seems to produce a different error message rather than allowing metrics to be scraped *without* a push gateway.

[2022-09-22 02:15] tjayrush opened #4616 "trace_block no longer returns miner records"
The same behaviour happens on Erigon (please see this issue: https://github.com/ledgerwatch/erigon/issues/5462).

While it is true that the miner no longer receives a reward for mining the block, the`eth_getBlockByNumber` routine continues to return a `miner` field. (In the case illustrated in the referenced issue, "miner": "0x57865ba267d48671a41431f471933aec32a7c7d1").

For our application, we us

[2022-09-22 09:52] kamilchodola commented on #4482
Added as a urgent item to our Documentation project - we will rework this entire section and merge it with "Validator setup -> Eth2".
You can check if this would address Your problems:
https://docs.nethermind.io/nethermind/guides-and-helpers/validator-setup/eth2-validator

[2022-09-22 10:27] kamilchodola commented on #2702
Would be nice to know is this something we can include in our Documentation scope

[2022-09-22 10:28] kamilchodola commented on #4499
@FalcoXYZ Is it the same thing as System Requirements automated stuff?

[2022-09-22 10:57] MarekM25 opened #4617 "Performance - block processing and newPayload"
If we spend more than 7seconds during processing we will switch to syncing mode and because of that validators can miss attestations. It happens a few times during a day for some stakers.

[2022-09-22 11:10] dceleda commented on #4316
There is a side effect - to compile the solution now MsBuild has to be at least in v17.3
In other cases we'll get:
`error MSB4185: The function "UtcNow" on type "System.DateTimeOffset" is not available for execution as an MSBuild property function.`

[2022-09-22 11:22] MarekM25 commented on #4610
@nazar-kuzo https://github.com/prysmaticlabs/prysm/pull/11487 it should help, in meantime we're working on performance optimizations

[2022-09-22 11:46] nazar-kuzo opened #4618 "Add units to JSON RPC Report to clearly state the performance"
**Is your feature request related to a problem? Please describe.**
Right now JSON RPC Report shows the information about time taken to perform different RPC calls but it is not clear
which time units are presented there, mistakenly I assumed that time is shown in milliseconds (ms) but as it was explained by @MarekM25 it is actually in microseconds (μs).

Current JSON RPC Report
![image](https://us

[2022-09-22 12:15] pmalyszcf opened #4619 "Nethermind.Trie.TrieException: Failed to load key"
Hey everyone!

Im experiencing **random** exception throws: "Nethermind.Trie.TrieException: Failed to load key"
when i try to call **trace_block** or **trace_transaction** methods on my Nethermind node. **Consensus** client connected is **Lighthouse**.
The exception pops out **randomly**, on the **same blocks** that used to work just fine a moment ago.

Node ver. v1.14.1

**Example**:
I managed to

[2022-09-22 13:10] dceleda commented on #4512
Related to https://github.com/NethermindEth/nethermind/issues/4570

[2022-09-22 14:58] kamilchodola commented on #4598
@dceleda
Just wondering - as for now we are running smoke tests with this configuration:

![Image](https://user-images.githubusercontent.com/43241881/191781579-bb856430-a997-43d8-92c6-65eb3afd9f23.png)

Do we want to prepare separate SmokeTests pipeline which will run all of our chains and combinations with like 2 times slower or something? It would be nice to find at least 3 ranges to test in my

[2022-09-22 15:11] kamilchodola commented on #4598
@FalcoXYZ @cbermudez97  It would be nice to consider that but it would surely requires a automatically removing VMs to avoid high costs

[2022-09-22 15:13] kamilchodola commented on #4597
@cbermudez97 @FalcoXYZ I believe it should be quite easy to configure, right? Just some cron on GitHub Action?

Those runs can overlap with new ones - just to think about automatic removal of nodes after some time (like week or so).

[2022-09-22 15:17] kamilchodola opened #4620 "[Smoke Tests] Add "node-listener" process next to every node created during smoke tests which will be able to execute commands on node"
There should be an additional process next to EL and CL configured in SmokeTests to be able to interact with both programs.
This program will be able to stop node, start it again, delay start of a CL/EL for some fixed time or until some event in second client would be reached.
Also this should somehow be able to interact with whole VM to, for example stop network connection or reconfigure network

[2022-09-22 15:23] kamilchodola opened #4621 "[UX] Improve logging on Snap Sync + fix percentage on State Sync"
On Snap Sync currently we have two important type of logs:
1. `SNAP - progress of State Ranges (Phase 1): 99.21875% [********* ]`
2. `State Sync 00.03:57:18 | ~0.34 % | 348.79MB / ~101760.00MB | branches: 83.59 % | kB/s: 532 | accounts 119343 | nodes 1215576 | diagnostics: 17.240.43ms`

Users often are afraid, that after Phase 1, when percentage drops to 0 on state sync, process is restarted when

[2022-09-22 15:28] kamilchodola opened #4622 "[UX] When AncientBarriers are applied, we need to reflect this on a maximum value on OldBodies and OldReceipts"
When AncientBarriers are configured for OldBodies or OldReceipts we need to subtract a maximum (pivot) value and ancient barriers because that would be actual number of Bodies/Receipts downloaded.

Old Bodies 1438008 / 15555000 | queue 16198 | current 0.00bps | total 333.86bps
15555000 should be replaced in this case with 4502016 because:
"PivotNumber": 15555000,
"AncientBodiesBarrier": 11052984,

[2022-09-22 16:30] MarekM25 commented on #4619
Your node wasn't synced or removed (pruned) data for this block. @LukaszRozmej is working on interesting plugin for tracing: https://github.com/NethermindEth/nethermind/pull/4535

However, Nethermind should return user-friendly error that we don't have a state for the block.

[2022-09-22 19:29] nlordell commented on #4395
Just wanted to add to this issue, as we are seeing similar things.

For example, this `eth_estimateGas` call:
[code]

With Nethermind returns:
[code]

However, other nodes we've tested (Geth, Erigon, Tenderly) return:
[code]

[2022-09-23 08:51] nazar-kuzo commented on #4610
@MarekM25 I can confirm that Prysm CL hotfix branch did not produce any of the timeout errors.

For anyone who suffers from that problem please use this branch [](https://github.com/prysmaticlabs/prysm/tree/v3.1.1-patch)
or this docker images:
`gcr.io/prysmaticlabs/prysm/beacon-chain:v3.1.1-patch`
`gcr.io/prysmaticlabs/prysm/validator:v3.1.1-patch`

[2022-09-23 09:37] AliakseiMalyshau commented on #2864
@tkstanczak @LukaszRozmej @dB2510 hello there!

I have the same issue on the Nethermind client version **1.13.3**. It's fixed or not?

Thank you!

[2022-09-23 11:30] MarekM25 commented on #4532
@nazar-kuzo I think we can close this issue, right?

[2022-09-23 12:44] marcindsobczak commented on #4010
My idea here is different - disconnect peers which send snap requests.
When we are synced, we are turning off snap capability. So we can receive snap requests only when we are not synced. In this state we are useless for syncing peers, so I think we can disconnect them and both - we and them - can find more useful peers.
I was testing it a bit together with eth67 + new snap healing, working fine a

[2022-09-23 12:46] dceleda opened #4625 "[Investigate] Throttling for State serving"
Do we have any kind of throttling for State Server?
Do we know what is the impact on the node performance when serving data for new peers?

[2022-09-23 13:21] nazar-kuzo commented on #4532
@MarekM25 Yes we can!

[2022-09-23 13:21] #4532 closed

[2022-09-23 14:20] flcl42 opened #4628 "Working and synchronizing devnet and local environments"
Add local set up for the convenient development

[2022-09-23 14:21] flcl42 commented on #4628
Propose local deployment set up for convenient development

[2022-09-23 16:39] kamilchodola opened #4630 "Missing SnapSync true in default config for Sepolia"
In all chains we are using now SnapSync as a default but in config for sepolia "SnapSync" true is missing. We need to include it.

[2022-09-23 16:48] MarekM25 commented on #4630
https://github.com/NethermindEth/nethermind/pull/4629/files

[2022-09-23 16:57] #4630 closed

[2022-09-23 16:58] kamilchodola commented on #4571
Hi all!

I'll monitor this endpoint for a moment but do you have anything specific about Your configurations? Do You use any webhook for uiHealthChecks or You have any kind of service which is pooling /health endpoint?

[2022-09-23 17:58] mrosack commented on #4571
I'm just pinging /health every 60 seconds.  I've been getting around it by adding a retry, it never fails on the retry.

[2022-09-23 18:13] smartprogrammer93 opened #4631 "Add a separate EngineIPC to JsonRpc config"
in case a user want to use IPC for communication with CL client, he needs to enable Engine module on the main JsonRpc configuration.

if JsonRPC.Host is public then that is a security issue. we need to have a sperate endpoint for IPC just for CL client.

what do you think @dceleda

[2022-09-23 19:01] kamilchodola commented on #4571
Can anyone of You just share You Nethermind + CL configs/run commands?
I'd try to reproduce it on our candidate for release with some more frequent checks but want to ensure if this is not configuration related stuff which may affect post-merge anything here.

[2022-09-23 19:15] 0xbeedao commented on #4276
I get exactly the same response trying to deploy a contract today, using Hardhat.

`jsonRpcResponse: {"jsonrpc":"2.0","error":{"code":-32010,"message":"PermissionDenied, permission denied for tx type: Create, actual permissions: None"},"id":10}`

[2022-09-23 19:41] 0xbeedao commented on #4276
Same result with the same contract, trying to deploy via Remix

[2022-09-23 19:41] darkobas2 commented on #4571
this should do
[code]

[2022-09-23 21:46] dceleda opened #4632 "[DOCS] Document how to configure IPC"
It's possible to use JSON RPC via IPC (Unix Domain Sockets) but we don't have it documented in our docs.
Only the `IpcUnixDomainSocketPath `flag is mentioned here:
https://docs.nethermind.io/nethermind/ethereum-client/configuration/jsonrpc

[2022-09-23 22:00] dceleda commented on #4433
JSON RPC works through IPC without problems but it seems nobody has tested the configuration EL+CL with IPC.
It shouldn't be difficult to make it work. Maybe small code changes will be required.

[2022-09-24 00:16] reductionista opened #4633 "eth_subscribe returns wrong value for logIndex field"
**Describe the bug**
The values returned by `eth_subscribe` for `logIndex` are inconsistent with the values returned by `eth_getLogs` for the same log events.

Geth conforms to the rpc spec, which states that `logIndex` should be the index of the log into the block.  Besu has its own non-compliant `logIndex` field, which is an index into the transaction rather than the block.  There is currently a

[2022-09-25 14:10] dceleda commented on #4631
https://github.com/NethermindEth/nethermind/issues/4433

[2022-09-25 18:40] flcl42 opened #4635 "CLI: Unclear error is displayed, does not break anything"
**Describe the bug**
Unclear error is displayed, does not break anything

**To Reproduce**
Steps to reproduce the behavior:
1. Run Nethermind.Cli and connect to a node
2. Enter "eth"
3. See error: SyntaxError: Unexpected token x

**Expected behavior**
No error

**Desktop (please complete the following information):**
 - OS: Windows
 - Version 1.14.1

[2022-09-25 18:44] flcl42 opened #4636 "CLI: Network ID is displayed instead of ChainID"
**Describe the bug**
Network ID is displayed instead of ChainID

**To Reproduce**
Steps to reproduce the behavior:
1. Run Nethermind.Cli and connect to a node
2. Enter "eth"
4. See networkId value instead of chainId:
[code]

[2022-09-25 20:56] #4502 closed

[2022-09-26 09:26] LukaszRozmej opened #4639 "Remove check for not allocating Nethermind to Snap sync after implementing snap server"
Remove check introduced in this PR #4638

[2022-09-26 09:37] #4582 closed

[2022-09-26 10:14] dannywillems commented on #4518
Having the same issue on rasp 8GB

[2022-09-26 10:41] #4619 closed

[2022-09-26 10:41] pmalyszcf commented on #4619
Thanks for help!

[2022-09-26 14:53] kamilchodola opened #4642 "Attestations are being more often missed during OldBodies/OldReceipts stage - optimization"
**Describe the bug**
We are seeing a issue with starting a Validator with staking before Node is fully synced (after StateNodes but before OldBodies/OldReceipts). We need to think about optimalization in that area.

**Potential improvements:**
1. Config flag to move OldBodies/OldReceipts before state. Drawback - Following chain procedure will be way much longer
2. Prioritize New blocks rather than

[2022-09-27 05:44] pumpurum2 commented on #4276
@rickcain @0xbeedao
It looks weird but try do decrease `runs` of optimizer. I used to get this error with 5000, but after changing to 1000 it deployed successfully

[2022-09-27 08:27] kamilchodola commented on #4571
@ThomasDalla
Closed by mistake! Thanks for Your vigilance!

As for now we are trying to reproduce but with no luck - I just make a dummy code which was calling /health endpoint for more than 12 hours without any wait between calls and never had a Unhealthy.
We are introducing some changes on healthchecks in next version which may fix this issue as well.

We are still investigating to ensure the ro

[2022-09-27 08:49] kamilchodola opened #4648 ""Could not reach PushGatewayUrl" error appears from time to time on node"
**Describe the bug**
While running smoke tests with multiple nodes in two separate runs I've started noticing some "Could not reach PushGatewayUrl, Please make sure you have set the correct endpoint in the configurations" errors. Configuration is correct (Metrics.Enabled true, PushGateway set to our internal Prometheus - it is working properly).

[2022-09-27 08:51] kamilchodola commented on #4648
![image](https://user-images.githubusercontent.com/43241881/192480167-aac38c6f-29b0-4c48-a706-a3a36c760859.png)

[2022-09-27 08:52] kamilchodola commented on #4648
"el_extra_flags": {
    "nethermind": [
      "Metrics.Enabled=true",
      "Metrics.NodeName=\"\"",
      "Metrics.PushGatewayUrl=***",
      "Seq.MinLevel=Info",
      "Seq.ServerUrl=***",
      "Seq.ApiKey=***",
      "Sync.SnapSync=true"
    ],

[2022-09-27 09:43] smartprogrammer93 opened #4650 "EIP-6780: SELFDESTRUCT only in same transaction"
Implement https://eips.ethereum.org/EIPS/eip-6780

[2022-09-27 10:15] McSim85 commented on #2885
@Texnomic
Do you know if these numbers sum?
I mean in your case when you set
[code]
Does that mean, the process consumes 133840000000 (133G) total?

[2022-09-27 13:20] kamilchodola commented on #4635
@flcl42 Just checked that on RC and it is working as expected on windows but saw something similar in the past

[2022-09-27 21:42] ibhagwan opened #4662 "Better way of monitoring pruning progress?"
I read the entire documentation regarding pruning so hopefully I didn't miss anything.

As per my understanding when using `Pruning.FullPruningTrigger=Manual` (which is the default), the way to initiate pruning is by enabling the `Admin` module via `JsonRpc.EnabledModules` and then caling `admin_prune`:
[code]

The above, did start my pruning process, after which subsuequnt calls to `admin_prune`

[2022-09-28 10:45] #4585 closed

[2022-09-28 12:21] gituser commented on #4662
Also there is a memory leak somewhere in Pruning if it's triggered manually.

My Nethermind crashed by OOM with 92GB in VM when I've activated pruning.